[2017-10-19 05:27] mnot commented on #223
If you *must* have a static hostname, have you considered using one in w3.org or similar space? As long as you own the domain, it's not squatting.

[2017-10-19 12:18] tguild commented on #223
That has come up and is a consideration.

[2017-10-20 09:55] drkevg commented on #223
We have been struggling for quite a few months to get agreement on how to resolve the hostname (wwwivi) issue (#223).

Can I suggest that we resolve the impasse by saying that the implementer will document how the hostname is obtained, but a default for the VIS Server that is hosted on the IVI ECU.

Hence, propose that we add statements like:

/* Start of change */
"A vehicle may have more than on

[2017-10-20 09:58] peterMelco commented on #223
Agree

fre 20 okt. 2017 kl. 02:55 skrev drkevg <notifications@github.com>:

[2017-10-30 11:43] anawhj commented on #223
I briefly followed the previous discussion in this thread and [public-automotive mailing list](https://lists.w3.org/Archives/Public/public-automotive/2017Oct/). I'd like to summarize the current situation with my opinions so that it would be helpful for an agreement.

### Specifying a static hostname for connecting to VIS Server (e.g. wwwivi)
The following statements would be important for making

[2017-10-31 06:36] igarashi50 commented on #223
: @anawhj It is not a problem only for automotive, but for several industries (e.g. WoT).

I agree.

The UC-4 of the HTTPS in Local Network CG is similar to the use case about a car dashboard monitor.  Also, the VIS server could be on local network in a vehicle as the other use cases of the CG.  I think the solution should be a common to the Open Web.

UC-04: Embedded system monitoring and control

[2017-11-06 12:57] wonsuk73 opened #240 "getVSS test cases should be changed with getMetadata"
In VISS test suite below getVSS test cases should be changed with using getMetadata because VISS spec was updated like this.

0100-getVss-success.html
0105-getVss-no-path-success.html
0110-getVss-wildcard-success.html
0120-getVss-incorrect-error.html

[2017-11-07 11:04] drkevg commented on #223
As many contributors on this thread have pointed out , the problem of finding or discovering <any> service endpoint is a general problem and not one that is particular to VISS. The same problem affects WoT, TV etc

Also, the problem is of course logically recursive, in the sense that you need to define (one or more) standard mechanism(s) to reach _something_ that is then capable of resolving the q

[2017-11-07 15:04] peterMelco commented on #223
I agree with you Kevin. It would be nice if we the names could have reflected the ECU they were running on, but that will nit even work for one single OEM since the naming convention is constantly changing.

Br
Peter W

[2017-11-20 09:32] aShinjiroUrata opened #241 "subscribe test cases may result in unexpected failure"
Test case 0180-subscribe-success.html
(https://github.com/aShinjiroUrata/web-platform-tests/blob/dev-urata-vsss-test/vehicle/viss/0180-subscribe-success.html)
 may result in unxpected failure even when subscribe itself succeed and the test criterion is satisfied.

This happend in test suite execution with ETRI's VISS implementation.
This does not happened with ACCESS's implementation.

[2017-11-20 09:48] aShinjiroUrata commented on #241
The test failure can happen by following scenario.

1)Testcase0180 send subscribe request to VISServer
2)Receives SubscribeSuccessResponse and some SubscriptionNotification
3)Then Testcase0180 send unsubscribe request to VISServer
4)After that, Testcase0180 expects to receive UnsubscribeSuccessResponse
  and if receives any other response from VISServer, judge it as 'Failure'.
5)However, even afte

[2017-11-20 09:50] aShinjiroUrata commented on #241
Bug fixed by following commit.
https://github.com/aShinjiroUrata/web-platform-tests/commit/2ad5d41f9c9305e89a500f7c274fcb48ba3740e1

Fixed simmilar issues in following testcases in this commit as well.
0180, 0190, 0240, 0250, 0260,

[2017-11-22 02:15] anawhj commented on #223
We've investigated `wwwivi` issues for more than four months so that we might make a decision from a couple of mailing lists([public](https://lists.w3.org/Archives/Public/public-automotive/2017Oct/), [private](https://lists.w3.org/Archives/Member/member-automotive/2017Nov/)) and TPAC meeting. The major changes could be listed as follows.

- eliminate `wwwivi` as an address to connect to VIS server

[2017-11-23 13:05] wonsuk73 commented on #241
@aShinjiroUrata Thanks for the work.
Right before I have done the test with your revised version of test cases. Unfortunately I got fail result like previous one. I will share the screen shots with you via email.

[2017-11-25 15:31] wonsuk73 opened #242 "Error Info(number, reason, message) to subscribe request with filter for branch"
In current  [9. Server Side Filtering](https://w3c.github.io/automotive/vehicle_data/vehicle_information_service.html#server-side-filtering) part of VIS spec describe as below.

By the way I couldn't find appropriate error number, reason and message in the [9.2 Errors](https://w3c.github.io/automotive/vehicle_data/vehicle_information_service.html#errors) part. If it is true it should be added.

[2017-11-25 15:34] wonsuk73 commented on #242
@acrofts84 @drkevg @aShinjiroUrata Does it make sence to you guys?

[2017-11-25 15:48] wonsuk73 opened #243 "[0320: multiple filter conditions]"
Goal of this test case is as below.

the client receives data when the specified multiple conditions are satisfied.

The test case send below subscribe request with filter as "{"interval":1000,"range":{"above":100,"below":20},"minChange":5}". But I am not sure this could be working because 1 Sec. interval mean server should give a notification to the subscriber in every 1 sec. But there is other m

[2017-11-27 03:02] aShinjiroUrata commented on #241
I received report from @wonsuk73 that, test 0180 passed after below change.

https://github.com/aShinjiroUrata/web-platform-tests/commit/76e8918ca1df3ec906e742bc7807e74fc22068c4

[2017-11-27 03:05] aShinjiroUrata commented on #241
Also reported test 0200 fails with similar reason to 0180 failure which is
- Test0200 send several 'Subscribe request' to VISServer.
- Then test0200 wait for 'SubscribeSuccessResponse' or 'SubscribeErrorResponse'.
- However at this point, test0200 receives 'SubscriptionNotification' message and it judges as test failure.
  (Test0200 can ignore 'SubscriptionNotification' since it does not relevant

[2017-11-27 07:05] aShinjiroUrata opened #244 "testcase 0260-unsubscribeall-success.html does not success"
With ETRI's VISServer implementation, testcase 0260 does not success.
Received code change request from @wonsuk73

[2017-11-27 08:42] aShinjiroUrata commented on #244
Revised the test code by below commit.

https://github.com/aShinjiroUrata/web-platform-tests/commit/bff1997f0dae350fdb6793652bfab39dcf337905

[2017-11-27 08:43] aShinjiroUrata commented on #241
For test 0200, following change has been done.

https://github.com/aShinjiroUrata/web-platform-tests/commit/760c51b020fa09b4db6934aafc3bf40d1cbda5c0

[2017-11-27 10:50] wonsuk73 opened #245 "[0300: filter range]"
This test case is to check range filter ofVIS spec as test assertion below.

This test case makes below subscribe request but above of range filter has higher value than below. It's wrong case for range filter.

@aShinjiroUrata could you review and revise the test case?

[2017-11-27 11:50] wonsuk73 opened #246 "[0190: receive the value continuously]"
Urata,
I guess previously this test case doesn't have issue. So it might be changed recently with small issue. " if (msg.action !== "subscription")" in below code might be wrong code. Because there is no action string as "subscription" in the spec so it returns all of response message including subs notification from server.

@aShinjiroUrata Could you check this?

[2017-11-27 11:53] wonsuk73 commented on #244
@aShinjiroUrata, Thanks! It's working well.

[2017-11-27 11:55] wonsuk73 commented on #241
Thanks @aShinjiroUrata ! It's working well!

[2017-11-28 00:31] aShinjiroUrata commented on #241
Thanks for the feedback.
In this issue, 0180, 0200 problems are reported, fixed and verified.
I close this issue.

[2017-11-28 00:31] #241 closed, assigned to nobody

[2017-11-28 00:33] aShinjiroUrata commented on #244
Thanks for feedback.
Then I close this.

[2017-11-28 00:33] #244 closed, assigned to aShinjiroUrata

[2017-11-28 00:54] aShinjiroUrata commented on #246
Hi @wonsuk73

Yes, actually I changed this yesterday.

I was thinkgin so, and my VISServer imple was written so.
But when I looked at below spec, I noticed 'action':'subscription'
 is added in subscriptionNotification and so I changed the test 0190.

https://w3c.github.io/automotive/vehicle_data/vehicle_information_service.html#dfn-subscriptionnotification

In the published draft, 'action':'subscr

[2017-11-28 01:10] wonsuk73 commented on #246
@aShinjiroUrata Thanks for quick answer! I didn't know this change even I am one of co-editor for this spec ^^; I will change my implementation!

[2017-11-28 01:15] wonsuk73 commented on #246
@aShinjiroUrata One question I have is if I add subscription action to my server implementation, do you think it works well with other test cases related with subs notification? I am just curious :-)

[2017-11-28 01:29] wonsuk73 commented on #246
@aShinjiroUrata I have added subscription action to my server. It works well. and It seems there is no side effect for other test cases! Thanks!

[2017-11-28 01:37] wonsuk73 opened #247 "Test case for subscriptionNotificationError"
VISS has [subscriptionNotificationError](https://w3c.github.io/automotive/vehicle_data/vehicle_information_service.html#dfn-subscriptionNotificationError) message format in the spec below. Don't we need to have test case for this? @aShinjiroUrata what do you think?

[2017-11-28 02:05] aShinjiroUrata commented on #246
Actually, this change about subscriptionNotification message format is not finished and I will change some more.
It may affect to 180, 190, 260, 290, 300, 310, 320.
I will commit/push after all the change related to this fix has done
 and it works at least with my VISServer imple.

[2017-11-28 02:38] aShinjiroUrata commented on #245
Thanks for pointing.
Use of 'above' and 'below' was opposite.
Fixed by below change.

https://github.com/aShinjiroUrata/web-platform-tests/commit/5ffab6e3833f271ad959ec2039b7be695597dd6c
https://github.com/aShinjiroUrata/web-platform-tests/commit/3ff84f7b13f95b59a5e5e01c1d1ca008ef905112

##Actually, 'filter' function is not yet supported in ACS's VISServer and so testcases are not tested enough.

[2017-11-28 03:34] wonsuk73 commented on #246
@aShinjiroUrata Okay! If you have done, let me know! I will test them :-)

[2017-11-28 03:36] wonsuk73 commented on #245
@aShinjiroUrata Thanks! By the way don't we need to have additional test case for filter error case?

[2017-11-28 06:12] aShinjiroUrata commented on #246
Hi @wonsuk73

The change I mentioned above is done by below change.
https://github.com/aShinjiroUrata/web-platform-tests/commit/85d967062e04e4e6963272751f10dc2a4b97c1e1

Including minor fix, changed test are below.
180, 190, 210, 240, 250, 260, 280, 290, 300, 310, 320.

Test result with my VISServer is same with before this change.

[2017-11-28 06:17] wonsuk73 commented on #246
@aShinjiroUrata Got it! Thanks!

[2017-11-28 06:23] aShinjiroUrata commented on #247
Hi @wonsuk73

Actually, test 0230 in test assertion document is test for 'subscriptioNotificationError'.
(Please look at #124 's attached excel document)

However, I could not come up with a request to send to VISServer which can cause 'subscriptionNotificationError'.
So, eventually I did not write test 0230.
If you have good idea, please let me know.

I think, writing test codes those can thoroug

[2017-11-28 06:33] aShinjiroUrata commented on #245
I think it would be better to have.
Basically, I wrote test code according to test assertion document in #124.

When you have a test case to add, it would be helpful if you add an assertion to this document :-)
Although, I think I'll be able to do that by myself when I have time.
(I guess, it would be better to chage excel to markdown or something )

[2017-11-28 23:31] wonsuk73 commented on #247
@aShinjiroUrata Got it. About how to make a test case for subscriptionNotificationError, I don't know either. I will also think about that :-)

[2017-11-28 23:34] wonsuk73 commented on #245
@aShinjiroUrata If you agreed, could you add that to test assertion doc?

Absolutely agreed with below opinion!

[2017-11-29 01:29] aShinjiroUrata commented on #247
Thanks!
However, I think this might be difficult to write as automated test.

- If 'subscribe' is bad, just end up with 'subscribeError' and can not go to next step.
- So I suppose, to cause 'subscriptionNotificationError', after 'subscribe' succeed, some trouble should happen.
- However client can not cause such trouble because what client can do is just send 'subscribe' request and send 'unsubsc

[2017-11-29 01:49] aShinjiroUrata commented on #246
Hi, @wonsuk73
If the test passed in your side, please close this issue :-)

[2017-11-29 03:46] wonsuk73 commented on #246
@aShinjiroUrata I have done the test for 180, 190, 210, 240, 250, 260, 280, 290. It's fine!
But my implementation doesn't have enough implemenation for the last three test cases(300, 301, 302). For those test case I need to have sometime to check!

[2017-11-29 11:46] aShinjiroUrata commented on #246
Hi @wonsuk73
Thanks for the feedback!

As this issue is originally for test0190, I close this issue.
If you find some problem in 300, 310, 320, please raise as new issue.

[2017-11-29 11:46] #246 closed, assigned to aShinjiroUrata

[2017-11-30 12:55] wonsuk73 commented on #245
@aShinjiroUrata I think this test case require 6 times satisfied repsonse for the range filters of subscribe request message. So it might be can make timeout even a server is working correctly. I think my VIS server is working well regarding to range filter condition, but it got the timeout now.

So  could you give long time than now like 20 sec for this test case?  To overcome the long duration i

[2017-11-30 13:05] acrofts84 commented on #242
Hi Wonsuk.

I think the logical response to this would be a 400 Bad Request, but I agree that the error message "The server is unable to fulfil the client request because the request is malformed." doesn't provide a satisfactory response.

How about introducing 400 Bad Request "Filter requested on non-primitive type"?

[2017-11-30 13:44] aShinjiroUrata commented on #245
Hi @wonsuk73

Thanks for the testing.
Timeout is one thing I was worrying about in this test system for vehicle.

I defined fixed timeout value '5sec' which is defined in vehicel-test-config.js as TIME_OUT_TIME
 and this timeout is applied to all the testcases.
I decided this value because it works with my VISServer but I did not expect
 this value fit for every VISServer implementation.

It is po

[2017-11-30 14:53] wonsuk73 commented on #245
@aShinjiroUrata Default notification period of my server is 1000ms. So I changed this value with 300ms. Then it works! So I think it might be need to have proper value for notification period of the server be tested. Am I correct?

[2017-11-30 15:05] wonsuk73 commented on #242
@acrofts84 That's good to me! But to be clear, error code is "400(Bad Request)" and message is "Filter requested on non-primitive type".So Error Reason need to be added. Right?

[2017-11-30 15:41] acrofts84 commented on #242
Good point. I think the reason has to be a bit more concise, so I think the best approach is:

Code: 400 (Bad Request)
Reason: filter_invalid
Message: Filter requested on non-primitive type

[2017-11-30 16:04] wonsuk73 commented on #242
@acrofts84 Thanks!

[2017-11-30 16:08] #242 closed, assigned to wonsuk73, acrofts84

[2017-12-01 05:46] aShinjiroUrata commented on #245
I think, since there is no neccesity to wait for 6 response, I should rewrite to wait for response
 by not a fixed number but a period of time.
Then even if your server's frequecy is low, test0300 receive not six but, say, three response and
 do the test with those three.
I'll do this.

I think you are right.
Probably we should add some Test Guideline to explain required condition for data source

[2017-12-01 05:51] peterMelco commented on #223
Whats going on with this ? Who is up for specifying the guidline ?

[2017-12-01 05:53] peterMelco commented on #239
I think this one should be closed.

[2017-12-01 05:53] #239 closed, assigned to nobody

[2017-12-01 05:55] peterMelco commented on #227
Should we just add links to the github repos to a page published as an appendix to the specs ?

[2017-12-01 07:41] aShinjiroUrata commented on #245
Change is done by below commit/push.

https://github.com/aShinjiroUrata/web-platform-tests/commit/0ca2ecc54a719a79943fdf45279f47c39703b1d4

@wonsuk73 , I expect that you will not meet timeout even if your notification period is 1000ms.
Please let me know when you have tried this.

[2017-12-01 09:32] wonsuk73 opened #249 "[0310: filter minimum change]"
The goal of this test is as below.

Currnet test case do only one minChange test with subs request message below. My server doesn't support minChange until now. But It's passed two times. So I guess that it might be need few more test with other values like {"minChange":15} .

@aShinjiroUrata What do you think?^^

[2017-12-01 09:41] aShinjiroUrata commented on #240
Fixed by below commit/push.

https://github.com/aShinjiroUrata/web-platform-tests/commit/2361d584137579ffa8fe11e096ee0652aa4f082d

@wonsuk73 -san, could you try?

[2017-12-01 09:46] aShinjiroUrata commented on #249
Same in my place :-)

This is good idea. I didn't come up when I writing this test.
I'll do this change.

[2017-12-15 01:49] aShinjiroUrata commented on #240
I close this since test runs well in my place.

With my prototype,  0100, 0105, 0120 succeeded and failed on 0110 because of lack of wildcard support.
All are expected result.

[2017-12-15 01:49] #240 closed, assigned to aShinjiroUrata

[2017-12-15 01:53] aShinjiroUrata commented on #245
I close this since the change works OK in my environment.
Please reopen if you find any problem.

[2017-12-15 01:53] #245 closed, assigned to aShinjiroUrata

[2017-12-19 11:11] drkevg commented on #223
Added paragraph (based on wording provided by  Ted) summarizing the discussion within the WG and after consultation with the Technical Architecture Group. Paragraph makes clear that determining the hostname will be implementation specific using either a discovery mechanism or by configuration and that the value 'wwwivi' should be treated as an example.

[2017-12-19 11:11] #223 closed, assigned to nobody

[2017-12-21 16:44] tripu opened #251 "Rework the WG's home page"
To adopt at least the [WG's home page template](https://github.com/w3c/design/#contents). But even better if it's the new layout+design we're working on right now.

If the policy of the group is to use this repository only for specs (and not to keep the WG's pages), I'll move this issue under [`w3c/design`](https://github.com/w3c/design/issues) and work directly on `w3.org` space, instead of submi

[2018-01-08 11:41] aShinjiroUrata commented on #232
Excuse me to become so late.
I have updated oneshot methods to promise style with below commit.

https://github.com/w3c/automotive/commit/3bf1b36c99f8157ea04b010843a47d830724215a

Then, close this issue.

[2018-01-08 11:41] #232 closed, assigned to nobody

[2018-01-08 11:42] aShinjiroUrata commented on #233
Seems there is no more comment, close this.
Please reopen if someone want to continue.

[2018-01-08 11:46] aShinjiroUrata commented on #235
Looks there is no more comment, close this.
Please reopen if someone want to continue.

[2018-01-08 11:47] aShinjiroUrata commented on #214
Since the related PR is already merged, close this.

[2018-01-08 11:47] #214 closed, assigned to nobody

[2018-01-09 02:34] Hirabayashi-KDDI opened #253 "Disposition of Comments on Direction of VIAS"
As you know, there has been long discussion on "What should be included in the next Charter as the target for standardization." during and after the F2F meeting in Burlingame, and I'm very much confused about the current situation.
I'd like to discuss the rechartering topic with intention of including VIAS one of the targets for standardization during our telephone conferences in January.
In order

[2018-01-09 17:11] tguild commented on #253
I have removed the doc file since it included excerpts of conversations made in member-automotive mailing list contrary to W3C's Member Confidentiality. A copy is being sent to the mailing list.

https://www.w3.org/2017/Process-20170301/#confidentiality-levels

F2F, teleconference minutes on this topic have been public and there will be a public explanation of outcome regarding VIAS.

[2018-01-09 17:24] tguild commented on #233
Lack of recent comment is not criteria for closure. This warrants further discussion and consensus before closing.

[2018-01-09 17:24] tguild commented on #235
Lack of recent comment is not criteria for closure. This warrants further discussion and consensus before closing.

[2018-01-10 01:48] Hirabayashi-KDDI commented on #253
I'm sorry for my careless mistake.
Thank you for your pointing out and delivery of the document.

[2018-01-10 08:39] aShinjiroUrata commented on #233
Hi. Ok, I understand.
I closed since I thought I already answered the question.
My thought is already written in above and I have no more input on this issue.

[2018-01-30 05:19] gunnarx opened #255 "Check text in VISS that refers to VIAS"
For CR, check if we have appropriate text in VISS, when it refers to VIAS.

(@ repository-maintainers - please assign the right label, since i can't)

[2018-01-30 20:18] tguild commented on #253
This topic has been discussed in member confidential email thread, additional teleconferences and on a questionnaire open to the Auto WG

We reviewed the responses from the WG and the group formally resolved to publish VIAS as a Note.

https://www.w3.org/2018/01/30-auto-minutes.html

[2018-01-30 20:18] #253 closed, assigned to nobody

[2018-01-30 20:20] tguild opened #256 "2018 draft charter changes"
Collect feedback from Auto WG on the draft charter

[2018-02-01 15:56] PatrickCQ commented on #256
Rephrasing of general scope: https://github.com/PatrickCQ/w3c-automotive/commit/4cf2ef5ad5c3a2f86fb176dc59eefb0707ec43eb

[2018-02-01 15:57] PatrickCQ commented on #256
Emphasis on creating a pattern for an interface and not a protocol.
https://github.com/PatrickCQ/w3c-automotive/commit/a3b9d3ca5b80272430cb0957fa0fcdb06cfd3b54

[2018-02-02 17:35] acrofts84 commented on #255
Pull request #257

[2018-02-13 00:15] peterMelco commented on #256
Some comments:

1 Scope

 **Replace … with actual content or remove.**

* Vehicle Data
    * vehicle brand, model, year, fuel type, transmission type, steering wheel position, tire pressure, oil level, wiper position, lights, doors, windows and seat settings as well as navigation, trip computer data, climate control data, speed, RPMs, acceleration, gears, …
* media
    * media control, track lists

[2018-03-13 04:17] peterMelco commented on #227
I will ask Melco to add the implementation report for the implementation the Melco demoed in Birmingham

[2018-03-13 04:19] INRIX-paul-boyes commented on #227
Where to post these.  How to link?

[2018-03-13 04:21] INRIX-paul-boyes commented on #227
Who can add test cases? Urata-san has started, but does not have time due to current work to complete.  We need more test cases.  Here is where they currently are:

https://github.com/aShinjiroUrata/web-platform-tests/tree/dev-urata-vsss-test

[2018-03-28 05:34] anawhj opened #262 "Review on editing tools for writing RSI specs with W3C style"
To write a W3C specification, it needs to follow the guideline provided by W3C. You can see the guildeline including roles of W3C spec editors in the following link.
* How to edit W3C specs: https://www.w3.org/2003/Editors/
* Sample W3C specification: http://fantasai.inkedblade.net/style/design/w3c-restyle/2016/sample

To build the spec document, we can consider a couple of major editing tools: Bi

[2018-03-28 05:43] anawhj opened #263 "Review on how to start writing RSI specs at the beginning"
In our group, the volunteers were gathered for RSI spec editors as the follows.
* RSI editors: https://www.w3.org/auto/wg/wiki/RSI_editors

About a year and half ago, VW submitted the proposal for RSI standardization to W3C, but it has been probably updated with a little changes so far. I guess VW would show us the updated version of RSI document at the f2f meeting. Before that, we can see the spe

[2018-03-28 12:09] wzr1337 commented on #263
I would like to add that I also provide a demo application that uses the rsi server under:

* RSI Demo Server using media plugins and server: https://github.com/wzr1337/rsi.demo

I am also working on a HTML5 client Demo and I will release it on github soon. I will POST a link here ;)

[2018-04-13 12:21] aShinjiroUrata commented on #227
Excuse to become very late.
I have added ACCESS's implementation report as below.

https://github.com/w3c/automotive/blob/implementation-report/implementation_report/implementation_report.html

I used the format Peter-san created since it is easiest.

Please have a look and let me know if there is a problems.

[2018-04-16 03:03] aShinjiroUrata commented on #227
In test table, some words "FAIL" are replaced with "PASS" by wrong editor operation.
Fixed them.
I'm sorry for the mistake.

[2018-04-16 03:12] wonsuk73 commented on #227
Urata,
Thanks a lot for the report!
By the way could you share the link for the page I can see it with browser.
Current link you shared is to be showed the code for the report.

Thanks!

Kind regards,
Wonsuk.

2018년 4월 16일 (월) 오후 12:03, Shinjiro Urata <notifications@github.com>님이 작성:

--

=========================================
*이 원 석 (Wonsuk, Lee) / *Senior Researcher, Ph.D

*한국전자통신연구원 표준연구센터(P

[2018-04-16 04:07] aShinjiroUrata commented on #227
Hi Wonsuk-san

This implementation_report.html is in "implementation-report" branch and not in "gh-pages" branch.

I'm not sure if this is ok to merge in gh-pages.
Most of the document is written by Peter-san, so I'd like to know his opinion.
(by the way, thanks for the document template, Peter-san.)

Anyway I create pull request for review.

[2018-04-17 02:48] wonsuk73 opened #265 "Some bugs in current test cases"
For preparing F2F meeting esp. regarding VISS implementation, I had recevied current version of test cases  from https://github.com/aShinjiroUrata/web-platform-tests/tree/dev-urata-vsss-test/vehicle/viss

And I found some bugs below. it seem it was made because of applying the spec changes as replacing getVSS with getMetadata in action and replacing vss with metadata in json schema for getMetadata

[2018-04-17 06:51] aShinjiroUrata commented on #265
Hi @wonsuk73
As for PR, I appreciate if you can do it.
However, I'll check it by myself anyway.

[2018-04-17 08:09] aShinjiroUrata commented on #265
Hi @wonsuk73

The things you pointed should be implemented in below commit on 2017/12/1.
https://github.com/aShinjiroUrata/web-platform-tests/commit/2361d584137579ffa8fe11e096ee0652aa4f082d

In my place, the test runs without this kind of errors.
Could you try again with latest version of "dev-urata-vsss-test" branch
in 'https://github.com/aShinjiroUrata/web-platform-tests' ?

[2018-04-17 12:04] wonsuk73 commented on #265
@aShinjiroUrata

The version you mentioned has the same issues. So I think you code still use 'vss' attribute name rather than 'metadata'.because then current code doesn't make  some of errors related with that.
Could you check that?

Below is the definition of the metadatasuccessresponse for getMetadata action.
https://www.w3.org/TR/vehicle-information-service/#dfn-metadatasuccessresponse

[2018-04-18 04:09] wonsuk73 commented on #265
@aShinjiroUrata
I have made five PRs to replace '.vss' with '.metadata'. Could you review and merge them?
When I checked issues of constant variable in vehicle-test-config.js, it's ok!

If you merge this then I will check again with that. Thanks!

[2018-04-18 04:30] aShinjiroUrata commented on #265
Hi @wonsuk73 .

Thank you so much!
I have merged the PRs.

Thanks, understood.

[2018-04-18 04:43] aShinjiroUrata commented on #265
I tested my VISS after fix with your changed test cases.
It worked well.
Thanks!

[2018-05-09 16:07] peterMelco opened #266 "VISS, VIWI and VSS moving forward to 2.0"
The question is whether we should use VISS or VIWI or create something from scratch for the next generation api.

To extend VISS according to Ulf Bs suggestion we could start with the following bullets:

- Support a RESTful transport protocol, i. e. HTTP.
- Object model support.
         a.       VSS object model support.
         b.       Query ability on VSS objects.
-  Adding new “services” to

[2018-05-09 20:24] gunnarx commented on #255
PR is merged so I'm closing.

[2018-05-09 20:24] #255 closed, assigned to nobody

[2018-06-04 14:58] colindefais opened #267 "Inconsistency between VISS "timestamp" and VIAS "timeStamp""
Hello,

In the latest Vehicle Information Service Specifications (02/13/2018 and 04/18/2018), time stamps in JSON messages corresponds to the "time**s**tamp" property (with lower case "s"):
https://w3c.github.io/automotive/vehicle_data/vehicle_information_service.html#dfn-timestamp

But, in the latest Vehicle Information API Specifications (06/21/2017 and 04/18/18), time stamps in objects  corresp

[2018-06-06 08:29] aShinjiroUrata commented on #267
Hi @colindefais
Thanks for the comment.

The reason of choosing "timeStamp"(captial 'S') instead of "timestamp" is comming from "DOMTimeStamp"(https://www.w3.org/TR/2003/WD-DOM-Level-3-Core-20030226/core.html#DOMTimeStamp).
In case of "DOMTimeStamp", I suppose, "timestamp" is thought as consist from two words "time" and "stamp".

However, as it looks "timestamp"(lower case 's') is widely used as D

[2018-06-06 13:15] aShinjiroUrata commented on #267
PR merged.

[2018-06-07 08:31] rndwb opened #269 "Trailing commas in JSON schemas"
A lot of the JSON schemas in the Vehicle Information Service Specification have trailing ~~white spaces~~ commas and are therefore no valid JSON.
The comma always shows up after the "description" of "action" property.

[2018-06-07 13:35] gunnarx commented on #269
**white spaces** and are therefore no valid JSON.

1. You mean only trailing **commas**, as in the title, right?  (I assume trailing white space does not make invalid JSON, but to keep the document clean I think trailing white space should all be removed anyway.)

2. Could you fix it and send a pull request?

[2018-06-07 13:38] gunnarx commented on #269
I agree, the **last** component in an array or (list of json objects) should not have a comma, so to clarify you are looking at this:

[code]

[2018-06-07 14:31] rndwb commented on #269
Of course. Commas was in my muscle memory, I don't know why.

I can do that, but I thought it might be generated somehow.

Correctly. It is all over the different schemas but only at this position.

[2018-06-07 18:02] gunnarx commented on #269
Actually these documents are written directly in **HTML**.  (See for example the [git blame](https://github.com/w3c/automotive/blame/gh-pages/vehicle_data/vehicle_information_service.html) - the different lines come from many commits).

When looking at what you wrote I saw it could use a cleanup on general formatting & indentation.  But before putting that effort in, I think it would be good to ag

[2018-06-08 08:30] rndwb commented on #269
I fixed the errors, but indeed there are some formatting issues left. By the way this is also true for the example code in the document. So yes, please agree on a style.

[2018-06-27 02:08] aShinjiroUrata commented on #267
Since fix has been done, I close this.

[2018-06-27 02:08] #267 closed, assigned to nobody

[2018-08-17 02:39] #269 closed, assigned to nobody

[2018-08-21 16:00] tguild commented on #256
Charter long ago published and approved by W3M and AC

[2018-08-21 16:00] #256 closed, assigned to nobody

[2018-08-21 16:01] tguild commented on #235
VIAS is not presently continuing on REC track and was published as a Note.

[2018-08-21 16:01] #235 closed, assigned to nobody

[2018-08-21 16:01] tguild commented on #234
VIAS is not presently continuing on REC track and was published as a Note.

[2018-08-21 16:01] #234 closed, assigned to nobody

[2018-08-21 16:02] tguild commented on #233
VIAS is not presently continuing on REC track and was published as a Note.

[2018-08-21 16:02] #233 closed, assigned to nobody

[2018-09-12 17:21] tripu commented on #251
@tanyeah is working on a redesign now :)

[2018-11-15 09:50] rndwb opened #275 "JSON schema for value seems wrong"
The description of the value type says it could be anything, even complex types. But then the JSON schema only allows string.
What to make of that? Should the 'type' for value be removed?

Here's the relevant part of the spec:
https://github.com/w3c/automotive/blob/gh-pages/vehicle_data/vehicle_information_service.html#L775-L777

[2018-12-05 12:52] tguild opened #281 "Handling wildcard for HTTP requests"
VISS Web Socket requests can include wildcards to return collections of matching signals. In the next generation specification  being able to address signals over HTTP and potentially other transports the question is how to accommodate wildcards.

This was brought up on 2018-12-04 Auto WG call but no conclusion reached, hence opening issue for further discussion.

https://www.w3.org/2018/12/04-aut

[2018-12-05 13:15] tguild opened #282 "Payload consistency across transports"
The successor to VISS intends to handle additional transports besides Web Sockets, specifically HTTP but potentially others such as Unix Sockets as one OEM reported experimentation demonstrated substantial performance gain.

There is a strong desire to be consistent across the various protocols where possible in both communicating requests and in handling responses received so an application could

[2018-12-05 13:31] ylafon commented on #282
Note that POST is not restricted to key/value pairs in the payload, it depends on the media type used, although it is the case for `application/x-www-form-urlencoded`.

[2018-12-05 13:31] ylafon commented on #282
I also suggest taking a look at HTTP/3

[2018-12-06 01:20] joakimsod commented on #281
Sparql 1.1 supports query over HTTP protocol.
In the following request, [QUERY] is the URL-encoded equivalent of this query, containing a wildcard:

select * {
  <http://example.org#alice> <http://example.org#name> ?n
}

GET /repositories/test?query=[QUERY] HTTP/1.1
Accept: application/json

[2018-12-06 13:11] UlfBj opened #284 "Wildcard usage"
In the example in the document Transport-ch. 6.1.22 you find two wildcards in the URL path, see below.
POST /VSS-Root/Cabin/Door/*/*/IsLocked HTTP/1.1
This example was derived from a VISS example with a path expression having only one wildcard
"path": "Signal.Cabin.Door.*.IsLocked"
Which from other parts of that example could be understood to represent two path segments having four matches [Row1.L

[2018-12-06 15:06] peterMelco commented on #284
+1

On Thu, 6 Dec 2018 at 05:11, Ulf Björkengren <notifications@github.com>
wrote:

[2018-12-06 20:56] wzr1337 commented on #284
Have you seen how viwi handles these kind of queries?

[code]

To lock the elements with IDs <id1> and <id2>

I strongly recommend not to support wildcards in the url as a client might not even be aware which elements will be actually affected by a change...

`*` Would mean... Unlock everything.. I do not care.. an unlock on the booth might mean it's jumping open into some obstacle 😉

[2018-12-07 10:11] UlfBj commented on #284
So you say that the request
`POST /VSS-Root/Cabin/Door/*/*/IsLocked HTTP/1.1`
should be replaced in the mentioned example with four calls as shown below?
`POST /VSS-Root/Cabin/Door/Row1/Left/IsLocked HTTP/1.1`
`POST /VSS-Root/Cabin/Door/Row1/Right/IsLocked HTTP/1.1`
`POST /VSS-Root/Cabin/Door/Row2/Left/IsLocked HTTP/1.1`
`POST /VSS-Root/Cabin/Door/Row2/Right/IsLocked HTTP/1.1`
Or can you via query

[2018-12-08 08:38] wzr1337 commented on #284
Yes, you can combine queries and modifications.
[code]
is similar to
[code]
selecting ALL elements which have their `id` parameter set to either `<id1>` or `<id2>`

combining it with the `body`:
[code]

sets the `Locked` property to `true`.

The advantage over running multiple queries - which is also possible - is of course that this operation would mean less traffic but even more important either

[2018-12-11 04:50] PeterWinzell commented on #284
So, my take on wildcards is that it could and should be used for subscriptions , that is as for the VISS 1.0 model if that approach is kept. It does complicate the server implementation and we should perhaps add a error statement that could be used by implementations when we violate or pass some performance threshold.

 I don't think we should add it to HTTP requests as explained above .

[2018-12-18 07:55] wzr1337 commented on #282
The POST should have a JSON body that represents the desired state in the same way it would be when retrieving it via GET or WebSocket Push.

Any difference would mean additional cognitive load for developers and thus slow down adoption.

[2019-01-21 12:08] PatrickCQ opened #287 "Addressing Schema"
It was my understanding that we will use URIs to address things.
As discussed here https://www.w3.org/2018/08/28-auto-minutes.html#item01

https://github.com/w3c/automotive/blob/3eba147f2e41e66300d23a5802f54b34643cf46c/spec/Gen2_Core.html#L85

[2019-01-29 22:45] PatrickCQ commented on #287
group discussion said: using URI makes sense. Change to path style.

[2019-01-29 22:45] #287 closed, assigned to nobody

[2019-02-05 08:41] PatrickCQ opened #290 "conformance keywords not complete"
The conformance keywords are not complete.
Is it possible that shall and should have been mixed up?
https://github.com/w3c/automotive/blob/55255c29f7fd1943cd80641205c8f4ded0c0e23d/spec/Gen2_Core.html#L38
Example from respec is different: https://github.com/w3c/respec/wiki/conformance

[2019-02-05 10:29] PatrickCQ opened #291 "unsubscribe all feature?"
Do we want to have an unsubscribe all feature in the core interface description?
Implicitly calling it with "no given" or "-1" subscription id could lead to wrong usage.
What is the benefit of having an unsubscribeAll method?

https://github.com/w3c/automotive/blob/55255c29f7fd1943cd80641205c8f4ded0c0e23d/spec/Gen2_Core.html#L254

In my mind unsubscribing should be a conscious action if not automa

[2019-02-05 16:22] PatrickCQ commented on #291
Decision from group: unsubscribeAll is not a necessary feature
See meeting notes https://www.w3.org/2019/02/05-auto-minutes.html#item05

[2019-02-05 16:22] #291 closed, assigned to nobody

[2019-02-10 13:59] PatrickCQ commented on #284
Short intermediate summary of the current state of discussions:
Groups phone call discussion (https://www.w3.org/2019/01/29-auto-minutes) shows that this issue is closely linked to the location of devices in a vehicle producing data values.
For this a possible solution was presented (https://www.w3.org/2019/02/05-auto-minutes#item02) which was discussed here https://github.com/GENIVI/vehicle_signa

[2019-02-17 13:06] #290 closed, assigned to nobody

[2019-02-17 13:06] PatrickCQ commented on #290
closed as we are using the default W3C conformance section now.

[2019-02-17 13:07] PatrickCQ commented on #290
closed as we are using the default W3C conformance section now

[2019-02-19 15:55] tguild opened #300 "Wake events and heartbeat"
In the data task force calls we have been discussing Harjot's Data Contract document.

https://docs.google.com/document/d/15chftyY4WMv4yQ3WlyVlHrG8BcWm-Tyws9-79eqDCgA/edit#

It raises a number of pertinent topics that can influence VSS, gen2 or perhaps be addressed by separate standards or guidelines.

One topic in particular was whether the gen2 service would have any wake event triggers or be av

[2019-02-26 19:30] PatrickCQ commented on #300
Low Energy: The distribution of implementations of services allows to place always implementations on low energy ECUs. If we want to equip our Gen2 to be capable of being used in low energy scenarios that would be something to have in mind.

[2019-02-26 19:33] PatrickCQ commented on #300
Wake event triggers: Would that be part of the protocol? E.g. in networking wake up is done on OSI Layer Two. Our Gen2 is at home in OSI Layer 7.

[2019-02-26 19:36] PatrickCQ commented on #300
Heartbeat: We could add the possibility for a client to ask for a heartbeat. But this is not as easy to combine with the REST idea. In my mind it would be something to inform the transport protocol that it will be used a lot (e.g. http keep alive).

[2019-03-02 11:07] wzr1337 commented on #300
I my opinion, heartbeat is against REST in general, as REST should allow you to close an reopen the connection whenever the consumer wants to fetch current state. Only this way, thing like multilayer an cachability are possible. Imagine the cache needing a heartbeat... Hmm...

Heartbeats would mean client and server hold a persistent connection, which typically means the hold each other's state in

[2019-03-05 00:01] tguild commented on #300
Heartbeat/wake approach is agreeably wrong when it comes to REST but then so is a server that is so restful, it is often asleep and unreachable.

This scenario is definitely an edge case, likely only permitted for limited few, due to power drain, sanctioned applications. How big do we think that edge may be to consider it?  The example use cases were just a couple current real world ones for fleet

[2019-03-25 10:45] rai20 opened #301 "Timestamp for value to cature time of update"
Hi,
I have implemented a version of W3C-VIS-Server which uses the VSS as the data model. It works fine but I think it would be helpful to add "timestamp" in the value response ( GET ,SUBSCRIBE) so that we know when the value was last updated. I face this issue in my W3C-VIS Server implementation, that the clients do not know when the Signal value has been last updated.  Does it make sense to add s

[2019-03-25 10:52] gunnarx commented on #301
Hello @rai20.  Just jumping in with a different comment first, before the working group evaluates your change proposal (which I think would first affect the version 2.0 currently in discussion).

I just want to say that is great to hear because W3C (and GENIVI naturally) are interested in more implementations appearing of the specifications that are created.  For W3C in particular, several impleme

[2019-03-25 10:57] rai20 commented on #301
Hi @gunnarx . Yes the implementation is licensed under EPL 2 and the project is Eclipse Kuksa. Here is the link https://github.com/eclipse/kuksa.invehicle . Implementation is under w3c-visserver-api

[2019-03-25 11:12] gunnarx commented on #301
Oh, OK.  I was already aware of the Kuksa implementation, and I have also studied the code a bit :-)
Maybe later if we have time, I can share some more detailed thoughts on it.

[2019-04-16 13:58] #284 closed, assigned to nobody

[2019-04-16 14:01] tguild commented on #300
Lack of interest in supporting wake events in the group and expected reluctance from OEM without compelling business cases, so withdrawing

[2019-04-16 14:01] #300 closed, assigned to nobody

[2019-06-12 10:26] danielwilms opened #306 "Data Model confusion"
Hi,

I promised to summarize the whiteboard discussion, we had at the F2F. One main issue was the misunderstanding around the term data model. I tried to draw a picture on my understanding, excluded the term data model and tried to do some clarification in the terminology, so that we can clearly name, what we're talking about. I think it's crucially important that we get an alignment on this. So @

[2019-06-12 12:14] gunnarx commented on #306
**Main content**

I feel like we are missing something.  I thought as first that **1 - Content**, was the actual concrete database of signal definition, and I felt then that whole description was understandable.  But looking closer "1" is described as a "simple graph" and in the example as a "simple sketch", so it is not the formal _detailed_ database of specific signal names and attributes then?

[2019-06-12 14:34] danielwilms commented on #306
@gunnarx, thanks so much for the comments. I fixed the language issues.

I think it was more of a misunderstanding through the "sketch"-example. I fixed it now from content to data definition.

What I would like to separate is simply:
- Data definition as a domain description, what in my understanding most would call a data model
- The specification, as a result of a rule set on how to describe th

[2019-06-13 12:36] ghost commented on #306
Hi Daniel,

There is one thing that I find misleading, in so far that the infographic seems to imply that each domain taxonomy's data definition's specification can be described using its own rule set. I will assume that it is not the case and that we want to have a common rule set for all domains.

As I write this, I realise that the difference you make between "specification", "rule set" and "sy

[2019-06-13 14:34] tguild commented on #306
As I commented on @PatrickCQ pull request, great to see you both arriving at some of the same terminology.

https://github.com/w3c/automotive/pull/305

As for what goes into the Gen2 specification,  we should agree or if necessary refine Patrick's wording influenced by yours. Given the confusion we caused ourselves final revision of infographic may be worth embedding.

I think the readme landing p

[2019-06-14 06:46] danielwilms commented on #306
answering @LaurentCQ:

I think in an ideal world that would be the case. Thinking of existing taxonomies, which should be supported that might be an issue. In this case the part of the Gen2 multi domain taxonomy specification could be the serialization of the source taxonomy mapped to the Gen2 reqs. The rule set describes the syntax, which leads to the specification ;)

I agree. That would IMHO in

[2019-06-14 06:53] danielwilms commented on #306
answering @tguild

Agree.

I agree, and I would take the same infographic (domain taxonomy view). The thing I still would be seeing different is the data definition vs. specification. I see the data definition as the data structure and the spec as the vspec files. but as @gunnarx had issues with that as well maybe it causes more confusion than it helps. I just saw that within the discussions the d

[2019-06-14 07:36] gunnarx commented on #306
Daniel, and all.  First I'd like to just say, let's not rush toward a conclusion.  I think more work is needed here, and sorry for picking this apart in detail, but that is only because I want to make sure we don't end up in the same place again some time later.  I think we need to use precise, but also simple language as much as possible, and I would encourage you to do that.  We risk getting tri

[2019-06-14 07:39] gunnarx commented on #306
Agree, *if* we manage to make it quite simple to understand.

[2019-06-14 07:48] gunnarx commented on #306
Some feedback is in reverse order, but I will quote to make each point.

Let me give an example of where we are not yet succeeding in communication, in my opinion:

It's not enough... we all bring different understandings of these words to the interpretation of what you say.

For example, what did you mean by data structure here?  Does it include data-type (in computer science terms), and does it

[2019-06-14 08:32] gunnarx commented on #306
Which ones are those?

Taxonomy itself is a very generic word, but it's the best we can have here.  As a point of clarification however, are you envisioning that these different taxonomies have different syntax rules and different rules for which metadata needs to be included, and so on?     Or are they just different (sub-trees) that someone can come up with in the future, but still following a s

[2019-06-14 11:25] gunnarx commented on #306
Daniel, to make things even clearer.... What does this sentence mean?

This is under Data Definition, so we are talking about the content of the Data Definition.

If I try to be more precise, is it OK to say the _content_ **is** the Taxonomy.  Then I think you are saying that it is the **agreed** content of the Taxonomy...
Sorry, these are language nitpicks but honestly it is too hard to understan

[2019-06-19 08:08] UlfBj commented on #306
I like this, but I have (as I think several above) some problem with the terminology used, and in particular with how the word "specification" is used. In my understanding a specification describes the rules for how something can be built, which in this case would be the rules for creating the YAML files. If I have understood it right, In Daniels proposal above it is the YAML files that are named

[2019-06-19 10:54] gunnarx commented on #306
Hello @UlfBj - good to hear from you.  I could not reach you on company email for another matter... could you send me an email or let me know how to contact you?    (My apologies for using this ticket for a private matter.)

[2019-06-19 11:14] gunnarx commented on #306
I believe the YAML files (in VSS) have _implicitly_ served both purposes.  In other words both defining data items and (implicitly) showing _how_ to define data items.

Before this discussion came up in W3C, it didn't seem to be a big problem to understand this.

For the purpose of this infographic and for formally defining terms, I agree however.  The concepts of  "how" and "what" need to be sepa

[2019-06-23 10:35] danielwilms commented on #306
@gunnarx: the marked part of the sentence is precisely, what I wanted to say. I wanted to emphasise, that it's a released version of the content of the taxonomy. Maybe that would be an even better wording.

What would you say about it's the `It's the released content of the domain taxonomy`.

I fully agree and I'm grateful for the input!

I agree. My bad, It was a mistake when exporting.

[2019-06-23 11:00] danielwilms commented on #306
To narrow that down I tried to define the content of what I see is a domain taxonomy in the graphic. Maybe that connection is not quite clear yet.

I envision, that there is a rule set and syntax given by gen2, which is IMHO ideally as close as or identical to VSS2. VSS2 is set as main and domain taxonomy defining vehicle signals. The root node of VSS2 is the entry point of Gen2.

Now we come to d

[2019-06-25 09:44] danielwilms commented on #306
Update of the info graphic
![w3c(7)-Page-1](https://user-images.githubusercontent.com/2179688/60088197-93814580-973e-11e9-864b-17ece6205f95.jpg)

[2019-06-25 09:53] PeterWinzell commented on #306
Just a brief comment
The second paragraph we have information like datatype, etc... what is etc ? I want a specification to be clear. Can we write out what etc actually is or remove it ?

[2019-06-26 12:29] danielwilms commented on #306
@gunnarx @LaurentCQ @UlfBj another try after the discussion yesterday. I thought a bit about the right term for a specification replacement. I thought "Structure" could work, but on the other hand it would be confusing, as it could relate to data structure. So, I decided for Rule Set. Please vote up or come with suggestions, so that we can close the issue.

![w3c(7)-Page-1(1)](https://user-images.

[2019-07-02 19:01] UlfBj commented on #306
Domain Definition instead of Data Definition?
In the text related to 3, in both Domain Taxonomy and Example I guess "specification" should be replaced by one of the above?

[2019-10-08 22:23] tguild opened #307 "VSS version in VISS"
We should update VISS to convey what version of VSS is being exposed. My initial thinking is it would be appropriate to handle this in the getMetaData() method.

[2019-10-16 09:23] UlfBj opened #308 "Gen2 feature: Authentication and authorization"
The Gen2 chapter describing this feature will inherit as much as possible from the Volkswagen Infotainment Web Interface (https://www.w3.org/Submission/2019/SUBM-viwi-protocol-20190718/), chapter 7 "User Authentication and Authorization".

[2019-10-16 09:34] UlfBj commented on #308
I assign myself to the task of creating this Gen2 chapter from the mentioned VIWI input.

[2019-10-23 07:47] UlfBj opened #310 "Gen2 feature: Data model"
This chapter in the Gen2 CORE document needs to be updated to reflect that the data model to be used is VSS 2.0.

[2019-10-23 07:47] UlfBj commented on #310
I assign myself to the task of updating this chapter.

[2019-10-29 21:01] tguild commented on #307
@gunnarx on Auto WG call suggested including this information directly in VSS itself which was received favorably.

I will raise as an issue in VSS repo and leave this open until accepted if not resolved there. At that point I will create wording to include in the spec as to how to identify the VSS version.

https://www.w3.org/2019/10/22-auto-minutes toward the end of the call but lacking an agend

[2019-10-30 11:13] PatrickCQ commented on #310
Is it agreed by the automotive group that only VSS 2.0 is a valid datamodel for Gen2?

[2019-10-30 11:42] UlfBj commented on #310
To my understanding the WG has decided that VSS 2.0 is the data model to use in Gen2.

[2019-10-30 11:52] PatrickCQ opened #313 "Purpose Documents Gen2 Core and Transport"
I would like to clear up the purpose of the different documents.

The initial idea when created was

**Core**
- the rules for the structure of an ontology to be used by gen2
- the methods of the API to use the communication mechanism gen2

**Transport**
- requirements every transport protocol have to fulfill

**Transport_\***
- with * being an identifier for a specific transport protocol for gen2

[2019-11-06 16:54] tguild commented on #266
we went with 3, drawing from the others

[2019-11-06 16:54] #266 closed, assigned to nobody

[2019-11-06 16:58] tguild commented on #251
@tanyeah provided tremendous help on auto activity landing page and @tguild is following @plehegar and @tanyeah work on dynamic group page efforts

[2019-11-06 16:58] #251 closed, assigned to nobody

[2019-11-07 13:23] PatrickCQ commented on #313
will be discussed in Working Group call as suggested by @UlfBj.

[2019-11-08 12:31] PatrickCQ commented on #313
Previous discussion on the WGs mailing list: https://lists.w3.org/Archives/Member/member-automotive/2018Nov/0006.html

[2019-11-08 16:49] PatrickCQ commented on #313
The basic idea as discussed in Lyon last year was triggered by "… with my proposal of a spec partition into two documents, a CORE spec and a TRANSPORT document, inspired by the OMA Lightweight M2M specs, …" from the referenced thread above.

[2019-11-09 11:34] danielwilms opened #316 "Datatypes"
@UlfBj in #315 [here](https://github.com/w3c/automotive/pull/315#pullrequestreview-313423093)

suggestion @wzr1337:

float, double and decimal respectively?

[2019-11-09 11:48] wzr1337 commented on #316
Are we talking about JSON transportation always? Then we do not even need to distinguish between the different float types as they will be sent as characters anyway.
For a server and client implementation it might be interesting to now the bit size of the float, but we can also just omit overprecise digits or fill underprivileged ones with 0.

JSON does not even know the difference between integer

[2019-11-09 14:00] UlfBj commented on #316
Yes we are. So you are right, the float/double machine implementation is transparent at payload level.
We can close the discussion on that.
Thanks.

[2019-11-11 17:18] PeterWinzell commented on #227
Close , old issue no current relevance

[2019-11-11 17:23] peterMelco commented on #227
see above

[2019-11-11 17:23] #227 closed, assigned to nobody

[2019-11-11 17:24] peterMelco commented on #124
Issue closed due to no activity for 2 years.

[2019-11-11 17:24] #124 closed, assigned to nobody

[2019-11-11 17:25] peterMelco commented on #125
Closed due to inactivity for over 2 years

[2019-11-11 17:25] #125 closed, assigned to nobody

[2019-11-11 17:26] peterMelco commented on #126
close due to inactivity for over 2 years.

[2019-11-11 17:26] peterMelco commented on #126
see above

[2019-11-11 17:26] #126 closed, assigned to nobody

[2019-11-11 17:27] peterMelco commented on #243
propose to close due to inactivity.

[2019-11-11 17:27] #243 closed, assigned to aShinjiroUrata

[2019-11-14 11:56] PatrickCQ commented on #282
In my opinion the to be transported payload shall be as fitting to the transport protocol as possible. Therefore the payload is not consistent over all transport protocols.
E.g. pushing JSON in a MQTT topic does not seem right as MQTT has structural elements itself which should be used to use the transport protocol as native as possible.

[2019-11-19 19:54] tguild commented on #281
Supporting queries and with positioning change degrading wildcard usage

https://www.w3.org/2019/11/19-auto-minutes

[2019-11-19 19:54] #281 closed, assigned to nobody

[2019-11-19 19:57] tguild commented on #282
https://www.w3.org/2019/11/19-auto-minutes.html

while we are designing for Web Sockets and HTTP, we agreed to support other protocols and agree JSON not always the most appropriate

[2019-11-19 19:57] #282 closed, assigned to nobody

[2019-11-19 20:02] tguild commented on #301
We don't have a good answer for this one unfortunately, extremely problematic

https://www.w3.org/2019/11/19-auto-minutes.html

[2019-11-19 20:03] tguild commented on #308
Ulf agrees to close, covered in PR

[2019-11-19 20:07] tguild commented on #275
apologies for the delay, we discussed and agreed. I'll put type="" (undefined/any) in a pull request

[2019-11-19 20:18] tguild commented on #307
Created issue in VSS repo, will reopen the issue in this repo if they reject

https://github.com/GENIVI/vehicle_signal_specification/issues/132

[2019-11-19 20:19] tguild commented on #247
we are closing outdated issues, please reopen or create a new one if still relevant

[2019-11-19 20:19] #247 closed, assigned to aShinjiroUrata

[2019-11-19 20:19] tguild commented on #249
we are closing outdated issues, please reopen or create a new one if still relevant

[2019-11-19 20:19] #249 closed, assigned to aShinjiroUrata

[2019-11-19 20:20] tguild commented on #263
we are closing outdated issues, please reopen or create a new one if still relevant

[2019-11-19 20:20] #263 closed, assigned to nobody

[2019-11-19 20:20] tguild commented on #262
we are closing outdated issues, please reopen or create a new one if still relevant

[2019-11-19 20:20] #262 closed, assigned to nobody

[2019-11-19 20:22] #308 closed, assigned to nobody

[2019-11-20 13:46] #275 closed, assigned to nobody

[2019-11-20 13:48] #316 closed, assigned to nobody

[2019-11-20 17:30] peterMelco commented on #301
Closing this issue. The time a sensor value "changed" needs to be part of the atcual sensor data frame and synchronized against the the vehicle system clock. This is out of scope for this spec.

[2019-11-20 17:30] #301 closed, assigned to nobody

[2019-11-21 10:24] UlfBj opened #319 "Gen2 feature: Filtering"
This chapter in the Gen2 CORE document needs to be updated.

[2019-11-21 10:24] UlfBj commented on #319
I will push a PR with an update proposal.

[2019-12-03 20:38] tguild commented on #310
this is partially resolved in https://github.com/w3c/automotive/issues/311 and https://github.com/w3c/automotive/commit/7f3ddfb2f8cf09b09b403f65ac6e5787dc03c10a but still some single tree leaning of https://github.com/w3c/automotive/issues/315 although softened with should instead of shall.

@UlfBj Ulf suggested on WG call being able to support both and leave to implementation to decide if it want

[2019-12-05 10:54] gunnarx commented on #319
For reference, the mentioned PR is #320.

(I want to propose that we try to handle either tickets or PRs but not both for the same issue (I mean if the ticket does not add anything, like here).

In GitHub they are somewhat equal -- they use the same number scheme.

Having everything visible in the same place helps but rather than having a list I would then propose to enable the project management

[2019-12-05 12:34] UlfBj commented on #319
I agree that having things that are related on more than one place is not ideal.

However, the working model that we decided on in WG, to my understanding, was the following:
1. Create an issue on something to be worked on in the spec.
2. Someone adds a comment to take on the task.
3. The result of the task results in a PR.
4. A discussion might start on the PR thread to sort out major objections.

[2019-12-12 08:29] wonsuk73 opened #321 "Issue of test framework and cases for VIS spec"
There is the [integrated test framework with VISS test cases](https://github.com/aShinjiroUrata/web-platform-tests/blob/dev-urata-vsss-test/vehicle/README.md), which is mostly contributed by Urata-San from Access. Recently there is some installation issue for this. So I think we need to use [recent version of web test framework](https://github.com/web-platform-tests/wpt) of W3C. I guess easy way i

[2020-01-07 20:22] tguild commented on #265
Closing old and seemingly complete issue. Please raise any current concerns as new issues.

[2020-01-07 20:22] #265 closed, assigned to nobody

[2020-01-08 10:37] UlfBj opened #322 "Gen2 access restriction tagging of signals"
Chapter 6, "Authentication and Authorization", describes how JWT tokens can be obtained by clients, to be used to prove that they are authorized to access signals with access restriction. What is currently not described is how the access restriction is assigned to signals. The following is a proposal on how an individual signal, or a group of signals, can have access restriction assigned.
As shown

[2020-01-14 14:22] tguild commented on #321
Hi @wonsuk73

We should probably create a folder here as you describe and fork Urata-san's test repo here as it will be easier for tracking issues and encourage wider maintenance. If you're inclined please do so.

Regarding your first question,  I'm not sure if the W3C web test framework will work for us as it is designed for a browser run time.

As to the second, I think the tests are largely suf

[2020-01-16 09:54] UlfBj commented on #322
Below is an attempt to formulate a requirement list for the Gen2 access restrictions.

1. No restriction, read/write is allowed without any token validation.
2. Write-only restriction, write requests require valid token, read requests without token validation.
3. Read-write restriction, both read and write requests require valid token.
4. Restriction can be applied to separate nodes, or to groups

[2020-02-10 15:25] tguild commented on #322
@UlfBj as promised some thoughts on this proposal that I partially shared and as I can't talk and scribe at the same time probably didn't adequately cover in minutes.

### Best Practices and manifest

First time you introduced it I mentioned how the soon (awaiting internal discussions and trying to confirm some key players) relaunch the Business Group and how this fits into in-vehicle application

[2020-02-11 15:35] UlfBj commented on #322
After reading the proposal by Isaac Agudo to model the Gen2 access control on the RBAC model I have modified my proposal in that direction, as described in the following.
Roles follow a hierarchical modelling, and are represented by values from zero to nine [0..9], where a higher value role has access to the nodes of a lower value, plus potentially more.
In the token the parameters “scope” and “ro

[2020-02-11 15:48] UlfBj commented on #322
I think that the comment by @tguild above touches upon important aspect within the ecosystem that the Gen2 API will operate. So I think for Gen2 to become widely used, these topics needs to be worked on. However, I do not think they need to be, or should, be an integral part of the Gen2 spec, but rather be, as Ted mentions, described in a Best practices document, or the like.
What needs to be done

[2020-02-11 16:40] tguild commented on #322
True, tags as metadata layer in VSS can be compatible if not enable various best practices including utilizing a policy language. As in my comment I mention there may be variables (such as who the authorized user/entity is) and different capabilities (access control to signals), sending that metadata to client application to handle dynamically would be helpful.

[2020-02-12 08:24] UlfBj commented on #322
After the WG meeting yesterday I have updated my RBAC inspired proposal to meet the requirement of supporting mutual exclusivity between clients in regard to access control. The modification is simply to remove the hierarchical relationship between roles. The requirement can by the way be supported also with a hierarchical role relationship, but then it becomes the responsibility of the authorizat

[2020-02-13 09:47] UlfBj commented on #322
After the input from Isaac and Sebastian I would now like to propose the following access control model.
VSS is extended with the property “validate”: “x”, where x is either “wrtite-only” or “read-write”
The access token contains (besides other fields like name etc)
“scope”: “path”
“permission”: “z”, where z is either “read-only” or “read-write”
“role”: Y, where Y is either an integer, enum value,

[2020-02-15 08:47] wzr1337 commented on #322
No security measure should ever default to lowest security (no token in this case) but to the highest (no access in this case).

If no tag is present, the system must response with auth error (http would return 403), until explicitly disabled all security by setting an appropriate token

BR

Patrick

[2020-03-17 17:26] gunnarx commented on #322
I think this discussion has been greatly expanded on the mailing list.
https://lists.w3.org/Archives/Public/public-automotive/2020Mar/thread.html

[2020-03-25 12:38] UlfBj opened #325 "Gen2 versioning vs VSS versioning"
I'd like to clarify what "exactly one VSS version" means here.

Is it OK to have minor or patch release upgrades, for example?  Those would presumably be compatible in format, but changed their content (signal list) slightly?

And I imagine the defined protocol version, which is very important to agree on in this exchange, might also be used with some proprietary extensions of the VSS signal list?

[2020-03-25 13:07] UlfBj opened #326 "Is there not redundancy in providing number, reason and message?"
Is there not redundancy in providing number, reason and message?
In this particular case, number and reason are equivalent (I think?), meaning that 404 **means** "not found", right?

_Originally posted by @gunnarx in https://github.com/w3c/automotive/pull/323_

[2020-03-31 18:41] gunnarx commented on #326
Another aspect is that there are several different reasons tied to the same HTTP status code.
There are 2 different types of "404"   and for example 401 (Unauthorized), there are lots of them.

[code]

For VISS/WebSocket the error is transferred in the JSON document:
[code]
but the REST (plain HTTP) transport I think it should be clarified how this subtype can be communicated to the requester, and

[2020-04-01 10:57] UlfBj commented on #326
Formally I would say that the sentence above makes possible to define proprietary (non-RFC2616) reason phrases.
The error message field seems harder to align with both transport protocols. So maybe that should be removed.

[2020-04-08 09:15] UlfBj opened #327 "Timestamp format"
Gen2 has currently the following timestamp definition, inherited from VISS:
timestamp | integer | The Coordinated Universal Time (UTC) time that the server returned the response (expressed as number of milliseconds).
This is not the same as Unix time " the number of seconds that have elapsed since the Unix epoch, that is the time 00:00:00 UTC on 1 January 1970, minus leap seconds."(Wikipedia).
I t

[2020-04-15 12:05] gunnarx commented on #327
I see no other comments so I'll jump in with a few.

Since the current encoding of responses is defined to be JSON and not particularly focused on being compact, I would say "text based" is acceptable.  As long as it is not too verbose.

A totally different encoding is required to be bandwidth efficient anyway.

It seems these are worthy goals in this environment:

* Following a standard (of cours

[2020-04-15 12:13] gunnarx commented on #326
Yes, clearly.  This is why I mentioned it.  But is the intention of this text to allow for simple translations / alternatives for some systems but still having consistently the same phrase for each error code?    My question is if it is your interpretation, and intention, that the system can deliver different phrases for the same error code.  In other words, the phrase is used to convey the error

[2020-04-16 11:23] UlfBj commented on #327
I think you are spot on here @gunnarx.
Your proposal have my support.

[2020-04-16 11:30] UlfBj commented on #326
Yes, that is my interpretation and intention. It is also the pattern used in VISS.

The error phrase would then be the more detailed error information.

[2020-04-21 17:17] gunnarx commented on #326
I am considering to reverse my opinion on the above statement.  After all, many (most?) web sites deliver a custom page when a 404 happens, and sometimes for others too.   I just do not know enough about HTTP to know if it reasonable to think that all failed attempts will be accompanied by a document, but  maybe that is OK.

[2020-04-22 11:14] MagnusGun commented on #327
I agree with Gunnars comment since we anyway use json we should have it as text and in human readable format (ISO8601).

Just a side note, do we really need microsecond precision? as the spec is currently written the timestamp comes from when the server sends its response and for me it doesn't make so much sense to have higher precision than milliseconds unless we also mandate some kind of timesyn

[2020-04-28 11:29] gunnarx commented on #327
I proposed microseconds mostly to be potentially compatible with other parts of the system, that might have this level of precision.  I always like to see standards that are applied as widely as possible to avoid having to write boring translation code.

Yes, I interpret the general ISO standard such that it  is possible to provide as many or as few decimals as you want in the time stamp.  So mayb

[2020-05-07 14:59] UlfBj opened #328 "Update and rewrite access control chapter in CORE document."
At the WG meeting May 5 it was decided that the Access control chapter (Authentication and Authorization) shall be updated, using the two sequence diagrams presented at the meeting as the base line.
The existing text in the chapter comes from the VIWI access control solution, and is quite similar to one of the proposed flows, which should open up for reuse.

[2020-05-26 17:09] tguild commented on #327
+1 to ISO 8601 used extensively at W3C for many years cf:

https://www.w3.org/TR/NOTE-datetime

We use it internally and an advantage is alphabetical sorting is also chronological

[2020-05-26 17:31] tguild commented on #327
https://www.w3.org/2020/05/26-auto-minutes.html#item06

[2020-05-26 17:57] tguild commented on #326
Ted to talk with @ylafon

[2020-05-26 18:00] #310 closed, assigned to nobody

[2020-05-26 18:00] #313 closed, assigned to UlfBj

[2020-06-01 11:33] UlfBj commented on #319
This was implemented in PR#320.

[2020-06-01 11:33] #319 closed, assigned to nobody

[2020-06-04 08:33] UlfBj commented on #327
PR#329 merged, which closes this Issue.

[2020-06-04 08:33] #327 closed, assigned to nobody

[2020-06-08 20:14] peterMelco opened #330 "Review GEN2 1. Introduction Chapter."
As a general comment we should avoid parentheses within the text - either we include what's in the parentheses in the text or we remove it.

This document describes the messaging API for Gen2 protocol. This includes the messaging layer and set of rules for structuring data. _The separation between payload encoding **(transport)** and messaging API **(core)** improves adaptability. Extending and de

[2020-06-08 20:27] peterMelco opened #331 "GEN2 Review Chapter 4. Data model"
4. Data model

The **service** is intended for use with a tree-like logical taxonomy to represent the vehicle data. An illustrative example of such a tree structure is shown in Figure 1. While it is meant to support conforming taxonomies it was created principally with the Vehicle Signal Specification **(VSS)** in mind. For more details, see the VSS documentation.

**service**
We are introducing s

[2020-06-15 19:23] peterMelco opened #332 "Review Introduction Gen2-transport."
The initial statement needs some clearification: What do we mean with bindings here ?

**" This document describes the transport bindings of the Vehicle Service Interface. "**

**"The Gen2 supports multiple transport bindings, namely HTTPS and secure WebSockets""**

So, for me it is enough to write transport protocols . I am not sure on why we use the wording transport bindings ? Is it what we bin

[2020-06-16 17:52] tguild opened #333 "Gen2 name"
I want to start moving us toward naming Gen2. Please provide suggestions and if we do not have a clear candidate will setup a survey to decide.

An obvious one is VISS2 although that would in some ways seem wrong if additional data taxonomies besides VSS end up being exposed through it. VISS was solely for VSS whereas Gen2 nominally supports additional data taxonomies.

[2020-07-31 12:09] UlfBj commented on #333
Connected Vehicle Specification

[2020-08-03 10:05] adobekan commented on #333
Specification of connected vehicle interfaces -> SCENE, SCENT, PIONEER etc.  :)
Connected vehicle interface specification -> CVIS, CENTRIC, VISION, CHIP, CONVERSION etc.

I have tried https://acronymify.com, for generating acronyms in this case.

[2020-08-12 13:15] peterMelco commented on #333
I like Connected Vehicle Specification ... the acronym CVS becomes somewhat confusing though :)

[2020-08-17 17:27] peterMelco commented on #328
Review of  Access Control Chapter.  This is a mix of remarks and questions.  General comment throughout the document  is to use normal capitalization .  Headlines should capitalize **A**xxxx **B**aaaa **C**ccccc.

6.1 Architecture

_1 Paragraph_
**The Gen2** ... -> Gen2 should be replaced later with a more suitable name

_2 Paragraph_
Client
**An application making protected resource requests on b

[2020-08-18 08:58] UlfBj commented on #328
It comes from the established(?) naming "PKI ecosystem".

"Purpose" refers to items of the type found on the Purpose list.

Public key|W3C...

You are not reading the latest version, where this is removed.

It is undefined it seems...
It could be used in the Purpose list and Scope list as a replacement of all roles (per sub actor).
It could be used by an Admin Client to get maximum scope access.
I

[2020-08-19 06:50] wonsuk73 opened #335 "Issues of status codes"
Thanks for good progress of Gen2 transport spec. When I read this spec, I would stand for issues below.

Issue 1.  Does it need to have two separated status codes for invalid token as below? If it does, then reason why?
- 401 (Unauthorized) | token_invalid
- 406 (Not Acceptable) | invalid_token

Issue 2. It seems token_invalid might cover a meaning of toke_missing. If toke_missing is required, the

[2020-08-19 07:03] wonsuk73 opened #336 "Relationship between VISS and Gen2 transport"
It seems Gen2 Transport spec might include Websocket based messaging part as an 5.2. It's totally redundant with VISS spec. It means VISS is going to be W3C note? Does WG have a consensus for this direction? If it is, I am not sure it is right way.

[2020-08-20 12:54] UlfBj commented on #335
Issue 1:
This is an error, there should not be two status codes for invalid token. The same for missing token (if it should be there at all).

Issue 2:
The invalid token error could be used also for the case of missing token. I guess it is a matter of taste whether there should be a separate error for missing token. I am fine with skipping it if others think so.

[2020-08-20 13:00] UlfBj commented on #336
The Gen2 Websocket protocol is not identical with the VISS Websocket protocol, there are for example several "action" types removed. So it is not redundant, but an evolution of the VISS protocol.
I do not see VISS needs to become a W3C note due to this.

[2020-08-22 03:30] wonsuk73 commented on #335
@UlfBj , Thanks for quick reply.
Regarding issue1, I made two PRs(#337, #338) to remove duplicated errors, invalid token and missing token separately. These separated PRs don't have any meaning. Just I did like that. ^^;;

Regarding issue2, I agreed with you. Let's keep it as of now if anyone doesn't say any strong opinion.

Thanks!

[2020-08-24 01:19] wonsuk73 commented on #336
@UlfBj Thanks for quick relpy.
I checked your point. But I would like to see group consensus more clearly for our direction. I think we might have three options as below.
1) Applying your update into VISS because it’s on the CR stage. And Gen2 - transport only cover HTTPS.
2) Going forward in current context you said above with Gen2 - Core, Gen2 - Transport, VISS
3) Going forward only with Gen2 -

[2020-08-24 01:29] wonsuk73 commented on #333
Connected Vehicle Specification looks quite coool as a name of the spec! But its meaning looks very broad. So I think it might be better if we add an more focused word for the spec to the name. How about Connected Vehicle Interface Specification, CVIS :)

Or If we are willing to develop additional specs related with Connected Vehicle, I might need to think about Series spec. Then Series style name

[2020-08-24 15:37] tguild commented on #336
@wonsuk73 no need for VISS to be changed to a W3C Note. In fact it should proceed towards final REC stage especially since it is implemented and in use.

[2020-08-24 21:11] wonsuk73 commented on #336
@tguild Thanks! You mean VISS meet all of requirement to quit the CR of W3C. right? If then, why not to move to PR? Do the group have a plan for doing that work within the year until W3C REC?

[2020-08-25 16:52] tguild commented on #336
Hey @wonsuk73 we can and should advance it indeed. Hasn't been pressing with most attention going into Gen2 and elsewhere but will work with Peter to move it along.

[2020-08-26 05:49] wonsuk73 commented on #336
@tguild Thanks! 👍

[2020-09-03 04:43] wonsuk73 commented on #335
@UlfBj @tguild if there is no objection for #337  and #338, could you merge?

[2020-09-03 08:12] wonsuk73 commented on #335
PRs are merged, so it's done.

[2020-09-03 08:13] #335 closed, assigned to nobody

[2020-09-14 12:10] UlfBj opened #339 "Service discovery or signal discovery?"
The spec chapters describing client request to retrieve metadata from the tree refers to it as "service discovery".
With the work initiated on writing a service catalog, and the established understanding of the term, maybe it is better to rename it to "signal discovery"?
Other renaming proposals are welcome.

[2020-09-15 18:17] tguild commented on #322
@UlfBj indicates it can be closed, handled in current draft

[2020-09-15 18:17] #322 closed, assigned to nobody

[2020-09-15 18:32] tguild commented on #325
@UlfBj to try to reflect thinking from today's call on catalog expectation

https://www.w3.org/2020/09/15-auto-minutes.html

[2020-09-15 18:39] tguild commented on #326
resolved to provide to provide message as payload in HTTP to be consistent with web sockets

https://www.w3.org/2020/09/15-auto-minutes.html

[2020-09-15 18:41] #328 closed, assigned to nobody

[2020-09-15 18:43] tguild commented on #331
merge with #306

[2020-09-15 18:49] #336 closed, assigned to tguild

[2020-09-21 11:41] UlfBj commented on #325
In the TRANSPORT spec, Websocket Intitialization ,chapter 5.2.1.1, it says:

"The sub-protocol name SHALL be 'gen2' with a version number suffix, e.g. gen21.0. The sub-protocol version will be associated with exactly one Gen2 Server Specification version so that the client and server can correctly validate and parse request and response message packets.
var vehicle  = new WebSocket("wss://wwwgen2"

[2020-09-21 11:50] UlfBj commented on #326
PR#340 contains update to align it with the resolution mentioned in previous comment.

[2020-09-22 07:36] UlfBj commented on #333
With the service catalog initiative in mind, maybe the following could show the relationship between the two.

Connected Vehicle Signal Specification (CVSiS) - the signal interface (current Gen2)
Connected Vehicle Service Specification (CVSeS) - the service interface

Vehicle Signal Specification (VSiS) - the signal data model and catalog (current VSS)
Vehicle Service Specification (VSeS) - the se

[2020-10-16 14:41] tguild commented on #333
Resolved based on survey and discussion

Vehicle Information Service Specification (VISS) version 2

https://lists.w3.org/Archives/Public/public-automotive/2020Oct/0011.html

[2020-10-16 14:41] #333 closed, assigned to nobody

[2020-10-22 12:22] UlfBj opened #343 "Multiple data points from different parts of tree"
As decided on the WG mtg, this issue is opened to discuss the idea of allowing a client to request multiple data points from different parts of tree.

- A client may be interested in multiple data points from different parts of the tree for a specific use case.
- It should be possible to retrieve all data points in one request, instead of having to issue multiple requests.
**Minimizes bandwidth ut

[2020-10-22 12:27] UlfBj opened #344 "Historic data"
* If a node supports storing data, then it should be possible for a client to retrieve it.
* Request for retrieval of historic data points for a just passed period of time
** Query with reserved name $history appended to path
** Period syntax as specified in ISO8601
** Vehicle.Powertrain.BatteryManagement.Battery.AccumulatedChargeEnergy?$historyEQPT4M
* Server responds with all data saved for this

[2020-10-22 12:29] UlfBj opened #345 "Fragment instead of query in signal discovery requests"
* Current syntax for a signal discovery request is
** GET Vehicle/Drivetrain/FuelSystem?$spec=0
* Proposed syntax
** GET Vehicle/Drivetrain/FuelSystem#$spec
*** To get the full tree below
** GET Vehicle/Drivetrain/FuelSystem?$searchEQ*.*#$spec
*** To get two levels
* RFC 3986
** “The query component contains non-hierarchical data that, along with data in the path component, serves to identify a re

[2020-10-22 12:35] UlfBj opened #346 "Sampling characteristics control"
* The sampling characteristics affect data quality, bandwidth load, etc.
* Scope of control
** Per signal?
** Per client?
** Per vehicle?
* Per signal
** SET Vehicle.x.y.z#samplemethodX
* Per client
** To be set by - WS:Subprotocol, HTTP: Header
* Per vehicle
** Access controlled node in tree: Vehicle.Connectivity.Data.SamplingCharacteristics
** Node type: Actuator or Attribute, depending on if wr

[2020-10-22 12:50] UlfBj commented on #346
When this was presented to the WG, one comment was that the Per vehicle option should maybe be left out.
I would like the OEMs to clarify how the "signal digitalization" system in vehicles is designed. If there is a common sampling frequency, or set of alternative frequencies, then this information would be of interest to a client. It could be available for informational purposes, as an attribute,

[2020-10-22 20:41] #307 closed, assigned to tguild

[2020-10-22 20:51] peterMelco commented on #343
So, is the error handling all or nothing in this case ?

[2020-10-22 20:56] peterMelco commented on #339
Agree that this will be confusing. Signal discovery is fine by me , it seems that signal is a defined term when we describe  vehicle data source .

[2020-10-22 21:01] peterMelco commented on #344
The use of persistent storage on vehicles is something that we need to keep optional. Oems needs to be able to estimate life expectancy of a vehicle and have that matched to the number of available writes to storage media.

[2020-11-02 16:37] UlfBj opened #347 "POST as a new transport protocol method"
In the current VISS ver 2 specification URL query syntax is used to augment the GET functionality. This syntax has the disadvantage of possibly creating rather unreadable URLs. An example of this was shown in my proposal to add client functionality to enable a client to express multiple signal paths to random nodes in the tree in one request, which led Adnan to propose to use POST, and place the q

[2020-11-02 16:46] UlfBj opened #348 "POST as addition to transport protocol methods"
The current VISS ver 2 spec makes use of the URL query syntax to augment the GET method. This can lead to somewhat unreadable URLs. After my latest attempt to add yet another query, this time allowing the client to express multiple paths to random nodes in the tree, Adnan proposed that maybe this could be done by using POST together with the query expression in the payload instead, to get more rea

[2020-11-02 23:33] petervolvowinz commented on #348
I think that with POST - at least for HTTP - the general idea is to send data to a server to create/update a resource and not as in this case retrieving data.  Or ?

[2020-11-03 00:25] peterMelco commented on #346
So CAN buses have maximum transmission rate per frame/message. They are usually set to be at one rate for system safety. However, one could consider having a sub/pub that have varying frequency that are interfacing can networks with whatever rate but under that constraint. Having frequency per signal that is.

[2020-11-03 09:35] UlfBj commented on #348
It might be the general idea, but reading RFC2616, it seems not be the only acceptable idea.

Chapter 4.3 Message body:
 The rules for when a message-body is allowed in a message differ for
   requests and responses.

   The presence of a message-body in a request is signaled by the
   inclusion of a Content-Length or Transfer-Encoding header field in
   the request's message-headers. A message-bo

[2020-11-03 10:00] UlfBj commented on #346
This is a system characteristics that I think would be helpful to know by a client. Requesting data, either via Get or Subscribe, at a frequency higher than this would not be meaningful, but fractions of it would.

The model I envision is that the system writes signals from the CAN bus into a "statestorage" at this pace, then the VISS v2 server reads from the statestorage at the pace set by client

[2020-11-03 17:02] peterMelco commented on #346
I think that the answer is complex and is also depending on OEM specifics. If we have nodes that interface with can network(s) which in turn interfaces a ip based network where some other ECU holds the VISS Server, the constraint might not be on the actual can bus but what is allowed from the ECU perspective.

[2020-11-03 19:41] tguild commented on #348
https://www.w3.org/2020/11/03-auto-minutes.html see Adnan's suggestion

GET /multiplePoints?json={"paths":[Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Latitude, Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Longitude]}

[2020-11-03 19:47] adobekan commented on #348
copy from chat. @UlfBj

In case of HTTP.
GET /multiplePaths?json={"paths":[Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Latitude, Vehicle.Cabin.Infotainment.Navigation.CurrentLocation.Longitude, ...]}
It can be also POST, as invoking multiplePaths function. But we have to add e.g. multiplePaths in specification that will be part of interface.

filter example:
GET /vehicle/Cabin?json={"lea

[2020-11-04 08:49] UlfBj commented on #348
My view of the WG discussion yesterday is that we decided not to go with using POST and payload, but to stay with GET and query. This was exemplified with the proposal for support of multiple paths in the same request, where the URL would be the path to a common root node for the requested paths, and then the query would include the relative paths from this root node, as exemplified below (I have

[2020-11-10 17:06] petervolvowinz commented on #346
If we agree in this information being useful to the client(s). Should we add say sampling freq per signal as an attribute, or would it be part of a general attribute for a branch even for the root of the tree ?

Per signal is easy to understand from a clients' point view.

If we have a general statement of max freq for all signals below a certain level in the signal tree - The usefulness of this w

[2020-11-10 18:28] tguild opened #349 "Charter review"
Link to be provided shortly

[2020-11-10 19:15] tguild commented on #347
Not doing POST, see 348

https://www.w3.org/2020/11/10-auto-minutes.html

[2020-11-10 19:15] #347 closed, assigned to nobody

[2020-11-17 20:55] tguild commented on #349
https://w3c.github.io/automotive/planning/charter-2020.html

[2020-11-24 19:25] tguild commented on #343
Ted will see if HTTP2 has a better mechanism for partial response than HTTP1

[2020-11-24 19:29] #339 closed, assigned to nobody

[2020-11-24 19:32] #325 closed, assigned to UlfBj

[2020-11-24 19:32] #306 closed, assigned to tguild

[2020-11-24 19:35] tguild commented on #348
https://github.com/w3c/automotive/issues/350 see PR

[2020-11-24 19:39] #326 closed, assigned to UlfBj

[2020-11-24 19:50] petervolvowinz commented on #346
Moving to VSS

[2020-12-01 15:00] samuelweiler opened #351 "link to charter broken"
The link under "This proposed charter is available on GitHub." is broken.

[2020-12-01 15:01] samuelweiler opened #352 "Mission statement ungrammatical"
"The mission of the Automotive Working Group is to develop Open Web Platform specifications for in-vehicle and cloud based uses through vehicle data access and service protocols."

leaves me wondering "uses of what"?  And, by itself, the sentence doesn't make much sense to me.

Would you clean this sentence up?

[2020-12-01 15:13] samuelweiler opened #353 "Remove redundant priv and sec comments"
Please remove this line from section 1: "The specification(s) produced by this Working Group will include security and privacy considerations."  as well as one of these two duplicate lines in section 3: "Each specification should contain a section detailing any known security or privacy implications for implementers, Web authors, and end users."

[2020-12-01 16:56] tguild commented on #353
Thanks, done. The duplicate statement was a carryover from old charter into new template cf Chris Lilley's complaint last week on Strat call.

[2020-12-01 20:53] samuelweiler opened #354 "Remove broken publication status link"
"group publication status page." is a bad link.  (And it's in the old charter, too.)

Unless you have something to point to, remove it?

See also: https://github.com/w3c/charter-drafts/issues/297

[2020-12-01 20:58] samuelweiler opened #355 "should history reflect removal of 2x deliverables?"
It looks like "Restful Service Interface (RSI)" and "typical vehicle services" were removed from the charter.  If that's right, mention it in the history section, please.

[2020-12-01 21:01] samuelweiler opened #356 "incomplete liaison list"
I see 4 unnamed and 5 unnamed liaison groups.  Clean this up?

[2020-12-01 21:09] samuelweiler opened #357 "Scope clarity"
I'm having trouble understanding the scope of the WG.  Example of confusion below.  Would you entirely rewrite the scope section with an eye toward plain language and the reader who isn't in the WG?

Quoting from the charter, emphasis added:

What, in this context, is a "service" - as in "what service is the WG specifying" when the charter then goes on to define "service" as "data".

And where doe

[2020-12-01 21:15] samuelweiler opened #358 "How is WG protecting sensitive info"
Some of the data discussed are sensitive, particularly if they're combined with identifying information.  Some are likely sensitive on their own (e.g. navigation) and others could be used to synthesize sensitive information (e.g. speed + wheel position, over time).

What is the WG's approach to protecting that information - or giving the user control over its transmission?

I wonder if a comprehen

[2020-12-01 21:17] samuelweiler opened #359 "How is WG authorizing RPCs?"
What is the WG's approach to authorization of RPCs?  (answering this as a reviewer is tricky since the RPC doc doesn't exist, per this draft charter)  Does the WG need to work on an architecture for that before adopting the specs for those RPCs?

[2020-12-01 21:52] samuelweiler commented on #349
Opened separate issues in this repo. Your attention is drawn to https://github.com/w3c/automotive/issues/357 #358 and #359.

I wonder if the latter two would be better tackled with a comprehensive architectural document(s) rather than in individual specs. And I suspect the WG should do that broader architectural work before digging into the data specs. I think we need to resolve these questions be

[2020-12-02 12:41] UlfBj opened #360 "Error handling of requests addressing multiple nodes."
As discussed on the WG meeting, the Filtering chapter has a chapter describing the error handling when one or more of a set of addressed nodes are found in the VSS tree.
The chapter does not describe the details, but says that an error code is returned together with information about which node(s) that are invalid.

[2020-12-02 12:59] UlfBj commented on #360
My view on this is that the response shall not contain any data for the eventual nodes that are valid, but only error information related to the invalid nodes/paths.
The argument for this is that for subscription requests such a behavior seems to be the right, as otherwise a subscription session is started that will return an incomplete set of data points, compared to the subscription request. If

[2020-12-02 14:41] tguild commented on #357
The term 'service' is unfortunately overloaded as are many terms at W3C like I noted during Tuesday's Strategy call with CSS Spatial Navigation as we have a Spatial Data on the Web group that is working on... Navigation

The in-vehicle 'service' is the Vehicle Information 'Service' Specification listed in the deliverables, a published spec. The service exposes data/information from the vehicle wit

[2020-12-02 14:49] tguild commented on #358
We are working on an accompanying In-Vehicle Application Best Practices document, regular calls and wiki but no draft document yet.

"The group intends to deliver In-Vehicle Application Best Practices to address many of the issues arising from allowing applications to reside and run on vehicles."

"The Automotive Working Group will follow and provide input on SDW group's unpublished Responsible Us

[2020-12-02 14:54] tguild commented on #359
Tricky to answer as it is not defined yet. We have been evaluating existing RPC models such as gRPC and WAMP plus considering using WoT, all of which support multiple authentication schemes and authorization models. We will contrast the solutions before selecting a path and welcome WebAppSec input in our selection process. Focus is on developing use cases and representing them as named functions i

[2020-12-02 14:56] tguild commented on #355
RSI was an unofficial name, that work is now dubbed VISS version 2, adding REST interface to the earlier VISS Web Socket specification.

[2020-12-02 14:56] #355 closed, assigned to nobody

[2020-12-02 14:59] tguild commented on #354
Template boilerplate lacking a 'todo' label as you note, removed.

[2020-12-02 14:59] #354 closed, assigned to nobody

[2020-12-02 14:59] #353 closed, assigned to nobody

[2020-12-02 15:02] tguild commented on #351
fixed

[2020-12-02 15:02] #351 closed, assigned to nobody

[2020-12-02 15:06] tguild commented on #356
Missed earlier, cleaned

[2020-12-02 15:06] #356 closed, assigned to nobody

[2020-12-02 15:13] samuelweiler commented on #357
I see that.  That doesn't mean it's clear.  :-)

I'm not objecting to "service" being overloaded across the W3C - I'm telling you that I find this usage confusing, in context.

[2020-12-02 15:13] tguild commented on #352
Specifications are for use within the vehicle and cloud. This is a bit of an awkward sentence, added a comma and minor rephrasing.

[2020-12-02 15:19] tguild commented on #357
It is also unfortunately overloaded with GENIVI's choice of using the term in Vehicle Service Catalog, adding to confusion

[2020-12-02 15:26] samuelweiler commented on #359
The RPC work item does not mention "use cases" - it says "the data taxonomy defines service functions available on a vehicle."  That seems to assume that something exists for calling those functions.  (e.g. what's the call flow for setting up the authorization?)

Where is "pick that RPC model" is the work items of the WG?  While working on use cases now is great, security needs to be designed in f

[2020-12-02 15:29] tguild commented on #358
We also note this information is subject to various existing and evolving state (eg Massachusetts recent right to repair ballot), nation and EU regulation which OEMs and telematics service providers need to comply with.

[2020-12-02 15:30] samuelweiler commented on #358
In W3C specs, I expect privacy protections to baked into the specs from the beginning, not relegated to the backwater of "best practices".

I want to see robust technical fixes - including user consent and auditability.  e.g how does a person stop the collection of geospatial data entirely, or at least prevent it from leaving the vehicle?

In this SDO, I am much less interested in policy-based pro

[2020-12-02 15:52] tguild commented on #358
Current practice for some connected vehicles is contractual agreements with owners, offline. Do we have any general consent capture work at W3C we could leverage, believe I asked you/PING for this in the past? Consent capture is a broader issue not limited to automotive. We have also been in discussion with EU SPECIAL project. While SPECIAL has some affiliation with W3C, do not believe aligned wit

[2020-12-02 16:31] samuelweiler commented on #358
We have this [guidance on adding permissions](https://www.w3.org/blog/2019/07/adding-another-permission/
) which might soon be published as an IG note.  It's written with the web in mind but is applicable in other contexts.

That is, in fact, my concern.

As above, in W3C specs, I expect privacy protections to be provided using primarily technical measures.

I also expect consent to be obtained wi

[2020-12-02 17:11] tguild commented on #358
I note a Note is even further backwater than even a Best Practice :) Still useful guidance and at the very least should factor into In-Vehicle Best Practices considerations but to clarify, there isn't any consent capture in any W3C specifications?

I am now confused by your earlier request of having a technical solution including consent and audit mechanisms in the specifications. We can and shoul

[2020-12-02 17:15] tguild commented on #358
It might help to understand that in-vehicle application marketplaces will be operated by automotive manufacturers or designated service providers. It will not be the same free for all of smartphone apps due to privacy, security, legislative and other considerations.

[2020-12-02 19:26] tguild commented on #359
"This specification will follow" is more appropriate for "No Draft" state than "This specification follows" since it does not exist.

Unclear about how much to state in charter work items such as need to specify work on use cases but as this one is clearly not satisfying, adding the following:

The group has performed some preliminary evaluation of various RPC protocols suitable for connected vehi

[2020-12-02 19:30] tguild commented on #359
https://w3c.github.io/automotive/spec/Gen2_Core.html#access-control-model

[2020-12-02 20:05] #345 closed, assigned to nobody

[2020-12-02 20:10] tguild commented on #360
After talking with @ylafon realize my thought of giving partial results and error code is flawed. It should either fail entirely providing an error code and body/resource payload providing details of what failed why or embed error per node/tree branch that failed or was blocked (authorization).

Yves expressed it is probably cleanest to separate the requests instead of combining them and how much

[2020-12-03 09:03] UlfBj opened #361 "Response syntax for multiple data points"
The filtering functionality makes it possible for a client to formulate one request which will lead to a response containing multiple data points, and the spec should define a syntax for such responses. There are four variants that may occur:
1. One signal, one value: E.g. a get request addresses one node in the tree.
2. One signal, n values: E.g. a subscription request addresses one node in the t

[2020-12-03 13:39] samuelweiler commented on #358
There might be some useful parallels to draw from the Devices and Sensors work - since many of these data times are from sensors - often the same sorts of sensors that WG is dealing with.  Some examples:

From [the battery status api](https://www.w3.org/TR/battery-status/#security-and-privacy-considerations):  "The user agent should inform the user of the API use by scripts in an unobtrusive manne

[2020-12-03 13:46] samuelweiler commented on #358
That is an interesting choice of parallel.  The operators of smartphone app stores are large companies - comparable in revenue, perhaps, to the largest of automakers, but much larger than the smallest.  And they are tech companies.  And even with their financial resources and abundant technical competence on staff, you describe a "free for all of smartphone apps".

This argues - in big, broad, str

[2020-12-03 13:56] samuelweiler commented on #358
I don't (fully) understand what you mean by "consent capture", so feel free to clarify.

I'm not immediately aware of any.  The feedback I hear is that browser developers want freedom to experiment with UI.  They're fine(*) with being told "this feature needs to have user consent", but they want to do something more clever than a blocking pop-up window every time and be free to change the details

[2020-12-03 14:27] tguild commented on #358
Android was certainly more of a free for all, eg flashlight apps requiring access to address book. That was cleaned up a fair amount.

Battery spec similar to what I was suggesting above although putting responsibility on service operator (auto manufacturer) wrt having consent and abiding by laws as we do not have UX with which to reach users. As this is getting in the weeds/spec specific, questio

[2020-12-03 16:17] tguild commented on #358
For VISS version 2 work item I added: "Privacy considerations concerning use of data will be addressed." Sam and I discussed some explicit items for VISSv2 including above suggestions:

* service operators **must** ensure they comply with applicable privacy laws

* consent should (some including complying with regional legislation would convert that to see must) be explicit before off-boarding dat

[2020-12-03 16:17] samuelweiler commented on #358
Indeed.

Vehicles have enough UI to capture - at the very least - **revocation** of consent.  Here are some examples:

- a hardware radio switch, which could be hidden next to the fuse box or otherwise not on the dashboard.  I remember laptops with hardware WiFi switches...

- the mechanism used for programming an early-2000's Toyota to accept new remotes - it involved inserting and turning the ke

[2020-12-08 19:55] tguild commented on #361
started discussing in WG call https://www.w3.org/2020/12/08-auto-minutes.html#item02

Gunnar encourages alignment with value exchange/measurement formats

https://at.projects.genivi.org/wiki/display/DIRO/Value+measurement+formats

[2020-12-15 19:07] tguild commented on #359
Came up with agreed upon wording with Sam for charter for this issue

"The Working Group will document the overall RPC architecture, including its authorization mechanism."

[2020-12-15 19:07] #359 closed, assigned to nobody

[2020-12-15 19:37] tguild commented on #360
Resolved: if any path is invalid, fobidden etc the HTTP response code should respond accordingly and not return partial results

[2020-12-15 19:38] #343 closed, assigned to nobody

[2020-12-15 19:44] tguild commented on #344
I am in favor of historic data but wonder if there should be a mechanism to instruct the service of data that would be desirable, stored subscriptions and data collection occurs regardless of the application running

[2020-12-15 20:02] tguild commented on #344
Ted's idea compliments and doesn't block Ulf's

[2020-12-17 19:39] samuelweiler commented on #358
This assumes that the OEMs and service providers have the data in the first place.  I want car owners and drivers to have control over their data - including how much of it an OEM or service provider collects.   Ideally, I'd like to see an architecture where the OEM and service provider(s) are less powerful points of capture and control - and consequently less tempting targets for regulation.  If

[2021-01-20 11:49] UlfBj commented on #361
Solved in PR#362.

[2021-01-20 11:49] #361 closed, assigned to nobody

[2021-01-20 11:49] UlfBj commented on #360
Solved in PR#362.

[2021-01-20 11:49] #360 closed, assigned to nobody

[2021-01-20 11:50] UlfBj commented on #344
Solved in PR#362.

[2021-01-20 11:50] #344 closed, assigned to nobody

[2021-01-20 11:54] UlfBj commented on #348
The discussions on this issue led to the the query pattern in the thread above, implemented in PR#350

[2021-01-20 11:54] #348 closed, assigned to nobody

[2021-01-20 12:00] UlfBj commented on #346
The dynamic-metadata request described in the CORE specification provides support for the idea presented in this issue.

[2021-01-20 12:00] #346 closed, assigned to nobody

[2021-01-20 16:42] tguild opened #364 "VISS version 2 review"
Please use this issue for minor suggested changes or fixes (eg typographic errors) to the VISS version 2 specifications. Substantive changes instead warrant creation of new issues so they can discussed further.

Please check Google doc of edit notes before adding new editorial suggestions

https://docs.google.com/document/d/1cNoyFpCKeFghFG-YNauwKhwb66Dhgo1m30HsAuWrAwU/edit?usp=sharing

https://w3c

[2021-01-21 17:15] peterMelco commented on #332
This has been resolved.

[2021-01-21 17:15] #332 closed, assigned to tguild

[2021-01-21 17:15] peterMelco commented on #330
Resolved.

[2021-01-21 17:15] #330 closed, assigned to tguild

[2021-01-21 17:16] peterMelco commented on #331
resolved.

[2021-01-21 17:16] #331 closed, assigned to tguild

[2021-01-22 07:43] UlfBj opened #365 "Fragments are not transported over HTTP"
The chapter "Metadata Request" in the CORE spec says that the syntax uses a fragment component as shown below
HTTP GET
URL: Vehicle/ADAS/ABS#static-metadata (or dynamic-metadata).
The problem with this is that HTTP removes the fragment before issuing the request.
Information about it can be found here
https://blog.httpwatch.com/2011/03/01/6-things-you-should-know-about-fragment-urls/
I would there

[2021-01-22 15:28] samuelweiler commented on #358
Thanks to @tguild, @wseltzer, and @swickr for further offline discussion.

Following that, I propose in section 2.2 of the charter (Other Deliverables):

In section 3 (Success Criteria):

[2021-02-02 17:35] peterMelco commented on #364
**VISS v2 CORE review**

No major issue in core what I could see.

General comments that applies to CORE:

Why are we defining our own set of rules when it comes to capitalisation of certain words such as Client , Purpose , Short term.  I believe that this makes the text harder to understand since takes away the focus of the actual context. My suggestion is to use capitalisation for acronyms and s

[2021-02-02 22:02] peterMelco commented on #364
***VISS v2 Transport review***

**3 Terminology**

Again I think we should write out VISS

**4.3 Authorization**

Cap on MUST

**5.1 HTTPS**

are in the first hand … swenglish ?  At first hand would be more correct I believe or just first

**5.1.1**

unwritten ?

**5.1.2.1.4 Service Discovery Read**

The example is a bit boring. Accessing meta data for FuelSystem and getting “Fuel system data.” Ba

[2021-02-02 22:04] peterMelco commented on #365
Look good to me...actually I like this more than the previous suggestion.

[2021-02-08 09:04] UlfBj commented on #364
The Client with capital C is defined in ch 8.4.1. When in the Access control chapter Client is written it refers to such a client, and not a generic client. So I think for at least that example it is an acceptable usage. The first occurrence of Client should link to ch 8.4.1. If it is the case for others needs to be checked.

[2021-02-08 20:53] peterMelco commented on #364
Well, I don’t really agree. I still not see an argument for us defining new language concepts.

[2021-02-09 19:48] PeterWinzell commented on #364
Cool with current suggestion from TED.

[2021-02-16 19:56] tguild commented on #365
Using querystring instead

[2021-02-16 19:56] #365 closed, assigned to nobody

[2021-02-22 10:28] UlfBj opened #368 "VSS path delimiter"
VSS uses dot as delimiter between node names.
As that will be problematic when the VSS path is used in an HTTP URL, the spec mandates that slash shall be used as delimiter in paths. The spec also mentions the fact that VSS uses dot delimiters, and that it is up to the VISS server to handle the translation between VISS and VSS.
Using dot as delimiter is only a problem in the path component of HTTP

[2021-02-23 08:55] UlfBj opened #369 "MQTT as transport protocol"
A proposal on how to add MQTT as a 3rd VISSv2 transport protocol is described here
https://github.com/MEAE-GOT/W3C_VehicleSignalInterfaceImpl/tree/master/server/mqtt_mgr

To be precise, a thin application level protocol is added on top of MQTT to enable it to transport any VISSv2 payload. Through this addition on top of MQTT a complete abstraction of MQTT is possible, so that an application level

[2021-02-23 17:00] UlfBj commented on #364
Latest versions of documents per 210223:
https://rawcdn.githack.com/w3c/automotive/3b84ac8b41586c1dbfc83aed5ca956a77a9f1445/spec/VISSv2_Core.html
https://rawcdn.githack.com/w3c/automotive/3b84ac8b41586c1dbfc83aed5ca956a77a9f1445/spec/VISSv2_Transport.html

[2021-02-23 18:58] petervolvowinz commented on #369
I think that we should use TLS over MQTT. There are levels of authentication which we could specify as well, e.g if the client should provide anything for the server or not.

[2021-02-23 20:29] tguild commented on #358
@samuelweiler see https://github.com/w3c/automotive/commit/fcf0cceeadfd10678fd21a0b7ab77fb5d533d5bc#diff-c555837d280da43aa83b39c6a228235146d723ab1340aa4b58ad7a374d899eed

Based on your proposed text, side conversations with various people and comfort from group on today's call.

The Working Group will deliver the following W3C non-normative documents:

 Use cases,

 Requirements, and

 High level

[2021-02-23 20:47] samuelweiler commented on #358
@tguild

Will that architecture make it clear at what layer(s) in the technology stack privacy controls can be usefully applied, possibly (hopefully!) including giving the owner and/or operator will have control(s) over the collection of data? (This question is a modified version of what I [proposed above](https://github.com/w3c/automotive/issues/358#issuecomment-765484727).)

Keep in mind, though

[2021-02-23 20:56] samuelweiler commented on #352
The phrasing still leaves me wondering "uses of what"?

[2021-02-24 18:39] tguild commented on #358
@samuelweiler we cannot speak to other organizations standards wrt controls but can make clear some of the various potential information flows. We expect mix of proprietary and standard based solutions. Again, the point of the best practices document underway is to speak to the larger ecosystem.

[2021-02-26 11:29] SebastianSchildt opened #371 "Why is VISS not linked in the main Readme?"
Is there any reason, why the main readme doesn't mention and links VISS(2)?

It seems quite confusing, if you den people here to check VISS; but they can only find "Vehicle Information Access API" and "Vehicle Data"

[2021-03-09 19:56] tguild commented on #371
thanks @UlfBj

[2021-03-09 19:56] #371 closed, assigned to nobody

[2021-03-09 19:56] #368 closed, assigned to nobody

[2021-03-11 18:23] #349 closed, assigned to nobody

[2021-03-11 18:23] #352 closed, assigned to nobody

[2021-03-11 18:24] #358 closed, assigned to nobody

[2021-03-11 18:24] #357 closed, assigned to nobody

[2021-03-11 18:49] tguild opened #373 "Application opt in/out"
On our last group call @PeterWinzell requested an estimated timeline to publish VISS version 2. @UlfBj and I agree we need to have a privacy section, perhaps containing some ideas that came out of the related issue from our charter review.

https://www.w3.org/2021/03/09-auto-minutes.html (also contains minutes from earlier VSSo call)

https://github.com/w3c/automotive/issues/358

We also are worki

[2021-03-11 18:52] tguild commented on #373
I'll ask Spatial Data on the Web group about defining geofence, the other parameters are simpler types.

[2021-03-22 23:34] tguild commented on #373
Clarification, not closing but contributing towards solution

[2021-03-30 17:20] peterMelco opened #378 "Best practices privacy does not apply across use cases for VISS"
If the implementation of the w3c server is serving signal data on a non-user system level privacy concerns are irrelevant. For example a w3c server used to provide signal data for android car apis where the client would be some component in the HAL used to populate the apis I dont see how privacy concerns apply.

[2021-03-30 19:24] tguild commented on #373
On today's call, leaning towards keeping this in best practices until we are able to define details enough for inclusion in specification.

Reached out to Spatial Data on the Web group:

https://lists.w3.org/Archives/Public/public-automotive/2021Mar/0015.html

[2021-04-01 08:50] dkdndes opened #379 "Feature: Endpoint to request outside temprature measured by the car"
The endpoint enables the request of the currently measured outside temperature.

[2021-04-07 18:42] #373 closed, assigned to nobody

[2021-04-13 16:24] petervolvowinz commented on #379
I am not sure what you mean ? Do you want to add a signal to the VSS signal tree ? That should perhaps be better adressed by : https://github.com/GENIVI/vehicle_signal_specification

[2021-04-13 17:34] erikbosch commented on #379
There is a signal AmbientAirTemperature in https://github.com/GENIVI/vehicle_signal_specification/blob/3e39406be384be636b1040fd5248a10d44a0e06d/spec/Vehicle/Vehicle.vspec

[2021-04-16 17:33] petervolvowinz commented on #379
Then we could close this one.

[2021-04-23 16:28] dkdndes commented on #379
I assumed this W3C repository objective is to generate a generic description of automotive endpoints & standard, not producer-related solutions.  Due to this, I am not sure if your answer is correct? It does show a solution of three particular car producers, or I am mistaken?

That's why I ask if it would be possible to include an endpoint of this type in this automotive standard? Background for m

[2021-04-23 16:47] dkdndes opened #380 "Feature: Payment endpoint, allowing payment in a connected car via a standart endpoint"
Within the car, it's assumable that payments will need to take place. Some vehicles already include it, but it does not exist in a standardized and easily consumable way. W3C develops at the moment for Browser standard payment processing solutions, this will reduce costs and time for the development of the appropriate customer journeys.

The feature requests suggest a similar approach for automoti

[2021-04-23 17:33] peterMelco commented on #379
The use case a such is interesting but its not what viss v2 is aiming to
standardize.  Please see the spec charter. Its an api and protocol to
access vehicle signals using vss as data model. The realization of your
endpoint is beoynd our current scope.

On Fri, 23 Apr 2021 at 09:28, Peter Rosemann ***@***.***>
wrote:

[2021-04-26 09:40] gunnarx commented on #379
Hi @dkdndes

I will try to answer it using other words.  The [VSS](https://github.com/GENIVI/vehicle_signal_specification) is the data description format (and content) that is used by the W3C specification of the VISS communication protocol.    In other words, VSS-defined data is carried by the VISS protocol.

In addition to describing the _rules_ for how to describe _any_ data which the VISS prot

[2021-04-26 12:52] tguild commented on #380
@dkdndes we had a task force for awhile to explore W3C Payments API for automotive use cases

https://github.com/w3c/automotive-pay/wiki

short version: there are some small gaps such as getting a merchant payment URI to the vehicle while trying to mitigate fraud (POI and data points we can provide from the vehicle would help) but its doable. We had three major payment providers interested in prot

[2021-04-26 13:03] tguild commented on #379
@dkdndes I'll also add that this common data model VSS used inside the vehicle is also being encouraged for use in the cloud by auto manufacturers and telematics providers. We have a Graph schema and ontology so the end points are possible modulo privacy complications.

I for one would consent to providing a number of unattributed data points including ambient temperature for a wide range of purpo

[2021-04-27 11:02] tguild opened #381 "Filtering essential and optional"
On a breakout call on VISS v1 experiences and v2 features, some of the filtering capabilities in v2 are considered potentially more complicated, less desirable to implement. As we want consistency in VISS implementations we should indicate which are required and which optional.

https://www.w3.org/2021/04/27-auto-minutes

In arguing for or against subscription filters, please indicate rationale to

[2021-04-27 11:09] tguild opened #382 "Access Control levels"
In a breakout call today on VISS v1 vs v2, there was expressed a desire to keep access control design simpler. For in-vehicle applications the environment would be more rigidly monitored and controlled so therefore more trusted. Allowing for devices (eg smartphones or tablets) to be paired and run applications from or applications running in the cloud permitted to connect to the vehicle should war

[2021-04-30 14:29] dkdndes commented on #380
@tguild we run a bunny race eventually selected a startup, and  DAX payment provider in Luxembourg were set up/founded. Mercedes did a similar thing. Simple reason, why have a payment provider as a man in the middle. Beamer did the same, and in all cases, they do use it for the current subscriptions (like special maps, traffic info, ...).

It's not yet used as part of the shared economy use cases

[2021-05-04 13:30] SebastianSchildt commented on #381
I do not want to argue _for_ or _against_ , but rather optionality

When implementing  VISS "lower" in a software stack to facilitate access to VSS Signals, you may not need much more than an "abstraced field bus" or "MQTT-like" way to access data.
You want the (quite central) software abstracting and providing the signals in VSS terms lean (for footprint, speed and code quality reasons).

If your

[2021-05-04 13:37] SebastianSchildt commented on #382
Similar to #381  I would argue for some _options_ here

I am not perfectly familiar with all details of what is currently possible with the VISS V2 access control definition, but here is my view wrt  access control and authorization in VISS:

Depending on the deployment, when using VISS in a vehicle, there might even be situations where you run in a "trusted" environment, and my not need to author

[2021-05-04 13:46] peterMelco commented on #381
The conclusion that filtering should be optional I fully support. This is
what is going to happen with implementations in any case, whether we
specify it as mandatory or not. The considerations such as lean, speed and
simplicicty will outweigh spec violations.

On Tue, 4 May 2021 at 06:31, Sebastian Schildt ***@***.***>
wrote:

[2021-05-05 12:49] erikbosch opened #385 "VISS Base vs. Extensions"
In #381 and #382 it is discussed if certain parts of VISS should be optional. Would it be an idea to have a generic concept/syntax where certain parts of VISS can be specified as mandatory (base functionality) while others are specified as optional extensions. Somewhat similar to https://en.wikipedia.org/wiki/RISC-V#ISA_base_and_extensions

That could possibly be useful for the future when organiz

[2021-05-11 15:41] petervolvowinz commented on #385
What would be the merits of a special syntax in this case. I think it is pretty clear what is optional and what is not ? You just add optional to the paragraph ? I my view this is overcomplicating things.

[2021-05-11 17:30] SebastianSchildt commented on #385
Marking things as  "optional" (or/and mark "core/essential") definitely is the most important step.

In my opinion an important point and takeaway from Erik's suggestion  is, that our model should be:  There is "base/essential" required feature level, the rest are understood as "features" that can be (more or less) mixed and matched as people require (which is in line with the RISC V ISA model), a

[2021-05-11 18:41] erikbosch commented on #385
Syntax is maybe not the right wording, I was more thinking if it would make sense to have some form of identifiers for the optional parts/capabilities, so that you cay something like "Our product X supports the following optional capabilities from VISS: AAAA, BBBB and CCCC, but not DDDD". But the section headings of the optional parts could possibly suffice for that purpose.

[2021-05-18 17:54] tguild commented on #378
@peterMelco agreed this was addressed in PR376

[2021-05-18 17:54] #378 closed, assigned to nobody

[2021-05-18 17:57] tguild commented on #379
@dkdndes closing issue as the data point is there and @erikbosch provided link to repo where individual signals are defined, do please feel free to prose additional there and even contribute definitions in YAML

[2021-05-18 17:57] #379 closed, assigned to nobody

[2021-05-25 08:32] UlfBj commented on #385
I agree with what has been said above. So the next step would then be to
1. exactly specify what should be optional (all not optional is mandatory).
2. Decide how a client queries the server on its capabilities.

I would propose that 2. is solved by using the "static metadata" request that the spec supports (CORE ch 7.4), by adding
"server-capability" to the list of supported key names.
An HTTP re

[2021-06-01 16:29] tguild commented on #382
@erikbosch and @SebastianSchildt on last week's call @UlfBj wondered if we could design the auth piece to scale down between the more complex and simpler, less access grant server, transparently to the client.Isaac Agudo (not finding his github handle) was on the call and agreed, thinking we could meet in the middle. I thought an implementation might want to support both, simpler for more trusted

[2021-06-01 16:47] tguild commented on #381
@UlfBj and I discussed yesterday after attending Spatial Data on the Web call for Geofencing topic.I realized there could be a wide number of possible parameters including on/off work hour times, geofences, etc that might prompt different data collection. This issue is about having required and optional filters. Besides the filters we in the spec, I could see extensions that define additional. Cli

[2021-06-03 08:57] UlfBj commented on #381
What the spec offers is the following:

Paths Filter: Multiple paths in one request
History Filter: Request for data that has been saved by the server for some reason (e. g. temporarily out of coverage)
Capture Filter:
    Time-based: Data returned on interval base
    Range: Data is returned when its value is within set range boundary(ies)
    Change: Data returned when change compared to previou

[2021-06-03 09:00] UlfBj commented on #381
My view is that Paths and Static metadata filters shall be mandatory, all others can be optional.

[2021-06-15 15:59] tguild commented on #364
Issuing call for consensus at today's working group meeting, you can indicate your support with a thumbs up emoji or comment

[2021-06-15 19:02] tguild commented on #381
Discussed on WG call https://www.w3.org/2021/06/15-auto-minutes.html
Ted suggests time and change as mandatory since they were both part of VISSv1
Gunnar felt history and curve should be on optional list

@SebastianSchildt and @erikbosch - what are on your thoughts for optional/required lists? Earlier Sebastian argued that although filters are useful none should be mandatory but then without a fil

[2021-06-16 07:04] erikbosch commented on #381
Even if an VISS needs to support certain filter types to be VISS compatible, the use of filters are still optional in e.g. `subscribeRequest`. I do not know if we have specified what should be the behavior if no filter is given, or if that is implementation dependent. My assumption is that each VISS implementation will have a default behavior for handling subscriptions. This could be event-driven,

[2021-06-16 15:49] tguild commented on #381
I believe if you subscribe without any filters you get back all the signals your client application has access control to at whatever frequency the implementation provides, possibly excessive but expect rate limiting may be used to avoid overloading.

Thanks @erikbosch I agree besides what we require, there will be variation in implementations. Requesting a signal at a certain interval may not be

[2021-06-17 08:40] UlfBj commented on #381
Thanks @erikbosch for pointing out these things, that need more consideration.

The filter parameter is currently in the spec marked as Optional (ch. 5.2.2.3 in the Transport doc), but when thinking about it I tend to lean towards that it should be changed to Required. If not, then we need to define the server behaviour for when it is missing, to leave it to the implementation I think would lead t

[2021-06-17 14:12] erikbosch commented on #381
If it is optional for VISS implementation to support filters, then of course it must be optional subscription request. But if filter support is mandatory, then it could theoretically be mandatory also in subscription requests.

If it is optional to specify filter in subscription requests, then I think that we at least should specify the default behavior if no filter is given.   A possible solution

[2021-06-17 14:49] UlfBj commented on #381
If filtering is left as optional, then I think the proposal by @erikbosch is acceptable, with the addition that it shall be possible for the client to obtain the value X from the server. A possible solution to that could be that the client can retrieve X via a request for dynamic metadata, see spec for this feature. That would then require mandatory support for the latter.

[2021-07-08 13:42] SebastianSchildt opened #386 "Why strings for all datatypes?"
That probably has been discussed in the past, but as the question came up in https://github.com/GENIVI/iot-event-analytics/issues/109 and I could not find a rationale in the spec, I will just repost the main points here.

 VISSv2 says "Regardless of its data type, a single data item is always represented as a string in message payloads."

and

And if they want to use JSON as their representation o

[2021-07-12 14:21] SebastianSchildt opened #387 "Inconsistency: ts in setSuccessResponse but not in getSuccessResponse"
We found that the response to set in websocket:
https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Transport.html#wss-update
includes a timestamp (ts),

while the response to get does not
https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Transport.html#wss-read-message

(only in datapoints)

If this is a bug, ts should be added to getSuccessResponse, otherwise maybe some explana

[2021-07-12 14:21] SebastianSchildt commented on #387
@wenwenchenbosch fyi

[2021-07-13 11:25] wenwenchenbosch commented on #387
The subscription message also just contains now timestamp inside datapoints. see https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Transport.html#authorized-subscribe:

[code]

[2021-07-15 00:25] wonsuk73 opened #389 "Issue on error response example in VISSv2 Transport spec"
When I review the [VISS version 2-Transport](https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Transport.html) spec, I found that error response examples should be revised to sync with the section 4.1 Status Codes as well as the section 5.3.2 JSON Schema Definitions for whole doc.

For example, there is an error response example for section 5.1.2.1 Read as below.
[code]

It should be cha

[2021-07-15 00:32] wonsuk73 commented on #389
@tguild, @UlfBj, @peterMelco, Could you review this?

[2021-07-16 13:16] UlfBj commented on #387
Regarding timestamp in set response, but not in get response, I think that is appropriate since in the get response there is a timestamp in the data point part of the response. The timestamp in the get response shows the time of capturing the value by the underlying vehicle system. The timestamp in the set response shows the time that the updated value was delivered to the underlying vehicle syste

[2021-07-16 13:21] UlfBj commented on #389
@wonsuk73 You are right, thank you for catching it.
I have merged the PR you created, and would be very grateful for help to fix other similar errors.

[2021-07-16 13:24] wonsuk73 commented on #389
@UlfBj Thanks a lot for quick review! I am going to fix the others for whole doc! 👍

[2021-07-16 13:32] SebastianSchildt commented on #387
I think it can be implemented either way, so no hard opinion, but I am not sure the argument is strong: For set actually I think the only semantic is "(local) time the VISS server processed the event", as in most systems you would not know exactly when it was "written" as that might be delegated to some lower system.
Additionally, following you argumentation, it would not make sense to have timest

[2021-07-16 13:56] wonsuk73 commented on #389
@UlfBj Could you review PR #390?

[2021-07-19 09:37] UlfBj commented on #386
The VISSv2 spec deals with the signals from that they are delivered by the underlying vehicle system to the VISSv2 server, and until they are delivered to the VISSv2 client. It is not so likely that signal processing is to be done during the period that VISSv2 "rules" over the signal format. A possible conclusion from that is that any format, e. g. the "native" format of the signal, would be fine,

[2021-07-19 10:02] UlfBj commented on #387
I think your intuitive understanding above provides a uniformity to the solution, which I think makes it worth considering. I will bring it up in the WG for discussion.

[2021-07-20 15:50] SebastianSchildt commented on #386
I am not 100% sure that answers the question, or is a strong argument.

I still mainly see VISSv2 as a "protocol specification", i.e. it tells me what I can send, and what to expect to receive. Most of the time the goal of such specifications is to enable some interoperability, e.g. when I write a VISS client, I expect it to work with a VISS server, independent of which concrete server implementat

[2021-07-21 23:41] wonsuk73 commented on #389
Thanks @UlfBj
I think this issue had been solved, so let's close it.

[2021-07-21 23:41] #389 closed, assigned to nobody

[2021-07-22 07:16] UlfBj commented on #386
You are right, the spec is currently under-specified regarding valid data type transformations.

[2021-07-23 15:03] euttsov opened #391 "Error response on multinode set"
Hi! We trying to implement VISS operations and stuck on set action with '*' in path. There is no exmaples of error response in this case. How it was planned to implement?

[2021-07-27 02:34] wonsuk73 opened #393 "Simplify HTTPS message examples on VISSv2 Transport spec"
VISSv2 Transport spec include many message examples and these message has big HTTP header information which is not very meaningful for the spec. Below is an one of example.

Example: Request:

              GET /Vehicle/Drivetrain/InternalCombustionEngine/RPM   HTTP/1.1
              Host: 127.0.0.1:1337
              Connection: keep-alive
              Accept: application/json
              User

[2021-07-27 02:36] wonsuk73 commented on #393
@UlfBj @peterMelco @tguild Could you share your view on this?

[2021-07-27 03:36] peterMelco commented on #393
I think your comment makes sense.

On Mon, 26 Jul 2021 at 19:36, Wonsuk Lee ***@***.***> wrote:

[2021-07-27 06:32] SebastianSchildt commented on #393
I like it! It removes some noise from the spec.

[2021-07-27 12:29] UlfBj commented on #393
I also like the idea. With three positive out of three I say we go for this. I will merge #392, and we will be very grateful if @wonsuk73 will update other occasions of this.

[2021-07-27 12:34] UlfBj commented on #391
I think the appropriate error code would be 400 Bad Request.

[2021-07-27 13:53] wonsuk73 commented on #393
@UlfBj @peterMelco @SebastianSchildt Thanks! I am going to apply this idea into the whole doc.

[2021-07-27 14:21] wonsuk73 commented on #393
@UlfBj Could you review the PR(#394)? Which is about applying this idea to the rest of the doc.

[2021-08-04 07:27] wonsuk73 opened #399 "Issue on Authorized Read in VISSv2-Transport"
There are read, update, subscribe and unsubscribe operations in Current VISSv2-Transport spec. In addition these operations are seperated with authorized and unauthorized as below.

HTTPS:
5.1.2.1 Read
  5.1.2.1.1 Authorized Read
  5.1.2.1.2 Search Read
  5.1.2.1.3 History Read
  5.1.2.1.4 Service Discovery Read
5.1.2.2 Update
  5.1.2.2.1 Authorized Update

Websocket:
5.2.2.1 Read
  5.2.2.1.1 Auth

[2021-08-04 07:28] wonsuk73 commented on #399
@UlfBj, @peterMelco and @tguild Could you review and share your view?

[2021-08-04 07:44] SebastianSchildt commented on #399
My (not necessarily correct) understanding at least for WS  was, that "Authorized Read" is the special case, where you can put the whole token into each read request, which might be a good pattern if you want a single value ever hour/day or so, while otherwise it has tremendous overhead as a JWT token likely is  several times the size of the query and the response combined.

I assumed normal reads

[2021-08-04 08:36] UlfBj commented on #399
We do allow that as the access control is optional. On top of that, even if an OEM supports access control, ch. 8.8 "Access control selection" makes it possible to apply access control to only selected nodes of the tree. So some nodes may then not require a token for access.

If access control is enabled on a signal, then according to the spec the token MUST be provided in each request to it.
I do

[2021-08-04 09:44] SebastianSchildt commented on #399
It seems, in light of Ulfs answer,  my "understanding" was wrong.

I would still like to make the observation, that `the token MUST be provided in each request to it`  is a bad design decision as it as soon as an app queries more than 1 value in its lifetime  wastes more than 50% of bandwidth on redundant authentication (not to mention that likely JWT token checking can easily be the computational

[2021-08-04 10:46] UlfBj commented on #399
Yes, the security comes with a cost.
To come around that cost by relying on the notion of client sessions, seems not robust enough in my view.
If a robust solution can be presented, it would be discussed in the WG.

Using subscription, a client can receive multiple signals as a result of one request.

[2021-08-04 12:56] SebastianSchildt commented on #399
I first would like to understand, what is the argument  behind the view that sessions are not robust enough? That is virtually done by "everyone", starting on lower layers like TLS up to (maybe more akin to VISS) logins to online shops, your bank, your cloud provider?

[2021-08-04 13:18] UlfBj commented on #399
All the transport protocols supported in VISS must run over TLS, as I am sure you know.
How long is a TLS session when it comes to HTTP? Does it extend over multiple HTTP requests?
Even if it does, is it good security practise to let the token based access control to "rely" on TLS?
I am asking because I am not sure about this.

[2021-08-04 14:39] SebastianSchildt commented on #399
That was a misunderstanding: You are correct, TLS is only transport layer, as such it does not survive multiple HTTP requests (except HTTP pipelining features, to be more precise: It does not survive multiple TCP connections). I merely use it as an example of protocol, that for its purposes also establishes a "session" that remains valid as long as the connection is there.

On the layer (i.e. VISS

[2021-08-04 16:11] UlfBj commented on #399
Yes, for HTTP session handling is not as straight forward as for WS. And I think the handling shall be uniform for the different transport protocols. But your mentioning of cookies could be a solution. E. g. the server could return a random nonce (the cookie) together with the signal value(s), and this could then be used instead of the token. Maybe we should bring this up for discussion in the WG?

[2021-08-06 06:06] wonsuk73 commented on #399
I think basically it's okay to me because the access control is optional for all of operations. But current structure of the spec described as below. It might make misunderstanding to readers. It looks only Read operation has authorized action even if other operations like Search read, History read and Service Discovery read also can be operated on the authorized channel.

HTTPS:
5.1.2.1 Read
  5.

[2021-08-06 06:12] wonsuk73 commented on #399
For long-lived HTTPS session using cookie I think we need to put this on the table for discussion in the group. Because I think the subscribe operation is a function typically used in the field.

[2021-08-09 08:30] UlfBj commented on #399
@wonsuk73 I think your point is relevant, that it is not sufficiently clear how to use authorization in conjunction with the different request types.
However, I think your proposed solution will be a bit "overkill". I believe a reader of this spec is able to generalise from the given example how to use it for different request types. But it should be made clear in the text of the existing example

[2021-08-24 19:14] tguild commented on #399
I encourage @SebastianSchildt and @isaacagudo to look at [call minutes](https://www.w3.org/2021/08/24-auto-minutes) for this topic. The group is supportive of convenience if not compromising security and then wonder what the mechanism should be to convey a shorter nonce (probably the 40 byte SHA256 signature for the token), is there something in Oauth2 we can use since we transmit the token via Au

[2021-08-25 09:55] UlfBj commented on #399
To make the proposal to use only the signature part of the token in subsequent requests robust, the server must, after the first successful validation of the token, save the following data:
    - The token signature,
    - The token expiry time,
    - The signals that are claimed in the token, together with the access mode for each.

The header currently defined to carry the token can also be used

[2021-08-25 15:52] SebastianSchildt commented on #399
If I fully got the proposal, I feel it needlessly weakens security: Normally for "session identifiers" it is quite elementary they are _random_ and cannot be easily guessed.

Of course the argument can be made, that stealing the token "signature" is as hard as stealing the complete token, but I still feel VISS should follow common security practices, and not use a fixed element, where it can/shoul

[2021-08-25 16:01] SebastianSchildt commented on #399
Regarding OAuth, I have 0 experience with, but some googling, leads me to believe that the `nonce` might be what  you are searching: https://openid.net/specs/openid-connect-core-1_0.html

String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token. If present in the ID Token

[2021-08-25 17:38] UlfBj commented on #399
How do mean the signature part of the token can be easily guessed?
If that is possible, then I believe you have broken the HMAC_SHA256 algo.

It ought to be as hard, which then would make the proposal as secure as keeping to send the entire token. If sending the entire token is not secure enough, then we have a problem. I cannot see what makes a random nonce generated by the server and returned to

[2021-08-25 20:49] SebastianSchildt commented on #399
Generally speaking it gives an attacker knowledge of parts of a packet (that is not the neccessarily the same as knowing the plaintext, knowing it is a a part of the token and will always be the same for a given client/token is already information)

Another reason for random elements choosen by one or both of the participants in a communication protocols is given in the the oauth snippet：Preventin

[2021-08-25 21:20] crea7or opened #403 "Suggestion for stronger limitation for multipath set/update request to server"
As the documentation says:
`The client may request that the server sets the value of one or more signals e.g. to lock one or more doors or open a window by sending a setRequest message to the server. In the case of several signals being set, they MUST all be of the same data type, and be set to the same value. `

It looks like it can be limited to "the instances of the same node" and then there sh

[2021-08-25 21:42] crea7or commented on #386
Can you just declare in documentation that "c locale" is only valid numbers representation? This is pretty acceptable since the most automotive software written in c/c++ and std::to_chars/std::from_chars are very fast to parse/build numbers.
Personally I'm not a fan of "strings everywhere", mostly because it limits use of internal protocols that may work between vss server and tree to avoid unnece

[2021-08-27 09:26] isaacagudo commented on #399
I am not sure I completely understand the issue but I'll try to describe some scenarios and how I think the protocol should behave in general.

1. Client establish a TLS connection and makes all requests under the same TLS connection either using wss:// or https://, o even mqtts...

In this case, client authentication only needs to happen onces, right after the TLS connections is stablished. Regar

[2021-08-29 11:03] UlfBj commented on #386
Do you have a link to this definition?

[2021-08-29 20:40] crea7or commented on #386
[c locale](https://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap07.html) (actually is a default POSIX locale), take a look to paragraph 7.3.4 LC_NUMERIC.
[code]

[2021-08-30 07:07] crea7or commented on #386
Alternativery it can be taken from [JSON RFC7159](https://datatracker.ietf.org/doc/html/rfc7159#section-6)

[code]

[2021-08-30 07:54] UlfBj commented on #386
I think the JSON RFC looks like a good reference to use.
Thanks.

[2021-09-01 10:52] crea7or opened #405 "The data inconsistency in filters for paths and metadata requests"
For paths filter the specifications says we should use array of strings (paths pieces).

[code]

For metadata filter the specification says we should use string with properties delimited by '+' sign.
[code]

Why not to use array in case of metadata for a consistency across API?

[2021-09-02 10:37] wonsuk73 commented on #399
@UlfBj I understand your point. But to make clear this part in the spec I think we might need to revise the section of 5.1.2.1 Read. Below is current structure for HTTPS transport. In my view separated sub-section for authorized read is confuse. I have two proposals as below. I don't have a strong opinion on these but I have to choose I might do proposal 1.

Proposal 1)
Texts in Authorized Read ar

[2021-09-03 09:37] UlfBj commented on #399
@wonsuk73 : Please have a look at the PR#406, which aims at resolving this.

[2021-09-07 18:38] tguild commented on #387
Addressed with PR 401

[2021-09-07 18:38] #387 closed, assigned to nobody

[2021-09-07 18:48] UlfBj commented on #386
@SebastianSchildt : Are you fine with the JSON ref?

[2021-09-09 09:51] UlfBj commented on #405
Fixed in PR#408

[2021-09-09 14:37] crea7or commented on #403
As an opposite move to this change, set/update request could be made free to change different values with different types. It looks like it is required for proper changing of aggregated values (to receive valid subscription events for an agregate values).

[2021-09-10 08:33] UlfBj opened #409 "Filter request syntax simplification"
The filter expression currently consists of three key-value pairs as shown below. After feedback from a client implementer that this leads to long and hard to read requests, an analysis lead to that the expression can be simplified to two key-value pairs instead.
Current:
{"op-type":"<x>", "op-value":"<y>", "op-extra":{<z>}}
New proposal:
{"type":"<x>", "value":"<y>"}

Below follows an example of

[2021-09-10 18:22] crea7or commented on #409
a good idea, just realized that metadata requests too complex and can be changed to:
[code]

[2021-09-11 19:14] crea7or opened #410 "Proposal to add current value to the response on subscribe request"
It's useful because allow us to avoid additional requests since sometimes you need to know current value before subscription will be triggered.

[code]

[2021-09-13 09:01] wonsuk73 commented on #399
@UlfBj Thanks for the text updates for this issue. I think it might need to update sentenses for Authorized Read and Authorized Update on Websocket transport. I made a PR for for this as PR #411. Please review this.

[2021-09-14 04:26] wonsuk73 commented on #409
Basically I agreed with the proposal from @UlfBj.
In specific there are two filter functions which use a "op-extra" property like capture and metadata filter.
1) Regarding metadata filter function, I support @crea7or's proposal.
2) Regarding capture filter function, I would like to suggest names of the type as below to make clear the type's meaning.
- time-based-capture
- range-capture
- change-ca

[2021-09-14 04:34] wonsuk73 commented on #410
@crea7or, Thanks for the proposal. Can I ask specific use cases for this?

[2021-09-14 08:04] crea7or commented on #410
@wonsuk73 a health signal for example. App want to know a health of some component and subsribes to the health signal. But what is current health of this component is unknown until app will request signal explicitly as separate request or wait untill subscribtion will be trigered.

[2021-09-14 14:44] crea7or opened #417 "Multi set request as performance optimization"
Current version of set request allow us to set only one value, even if we'll use filter operation. However it will be very useful to have multi set request. Example - CAN frames processing. CAN frame may contain few signals and we should send them only-by-one right now. Wich is not optimal since all the network code is called as many times as we have signals. It would be much more optimal if we'll

[2021-09-14 22:28] wonsuk73 commented on #410
@crea7or, I am not sure for this kind of use case we need to add this feature because we need to focus major features.

[2021-09-14 22:34] wonsuk73 commented on #417
@crea7or, for better understanding of your idea do you have any proposal?

[2021-09-14 22:40] wonsuk73 commented on #403
@crea7or, Do you have a proposal for this? It looks like it's not easy to solve with convenient use. In addition I think it's related with issue #417. Am I right?

[2021-09-15 06:28] erikbosch commented on #417
@crea7or - are you looking for something like below, a possibility to use "post" on branch level and instead of just giving a value give a path/value array as argument. so that you e.g. could set both PerformanceMode and GearChangeMode in the same request

[code]

[2021-09-15 08:20] crea7or commented on #417
@erikbosch yep, but prefer full paths like this, because in theory signals from the one frame can be in the different roots:

[code]

[2021-09-15 08:26] crea7or commented on #410
@wonsuk73 this is only a small optimization so absolutely low priority.

[2021-09-15 09:49] crea7or commented on #417
If one set command will be in priority, one value set can be just an object instead of an array of the objects:

[code]

[2021-09-15 12:35] #405 closed, assigned to nobody

[2021-09-15 12:37] #393 closed, assigned to nobody

[2021-09-15 13:55] wonsuk73 commented on #410
@crea7or, Thanks.

[2021-09-15 13:55] #410 closed, assigned to nobody

[2021-09-15 14:32] crea7or commented on #403
@wonsuk73 the first message is about stronger clarifying of documentation. Because it's not really clear what to do with multiset signals when one value can not be set due to validation error etc. With this clarification errors in multi-set will be the same for all values or everything will pass. The second message actually shouldn't be there so please, ignore it because of #417.

[2021-09-20 14:58] crea7or opened #420 "Set request syntax for arrays"
Vehicle Signal Specification [supports arrays](http://genivi.github.io/vehicle_signal_specification/rule_set/data_entry/data_types/), but there is no documentation on how to set them, even receive format is not mentioned in the transport documentation. I suppose `set` should be documented like this?

[code]

and `get` will use datapoint mechanism in favor of the regular value get:

[code]

[2021-09-27 10:44] UlfBj commented on #420
Fixed in PR421

[2021-09-27 10:59] #420 closed, assigned to nobody

[2021-09-27 13:34] crea7or commented on #417
Another idea is to specify root node(branch) like this:
[code]

This syntax will help us to subscribe to the branches to work with them as with composite types.

[2021-09-27 13:44] UlfBj commented on #409
Fixed in PR418

[2021-09-27 13:44] #409 closed, assigned to nobody

[2021-09-28 09:11] UlfBj commented on #382
An alternative design that meets these requests are proposed here.
The spec will besides the current access control model also describe an alternative model where the "normative description" (formally being optional) starts with the access token. That is, how the access token is obtained is not specified.
The access token claims differs from the existing ones in that the claims "scp" and "clx" are

[2021-09-28 18:44] gunnarx commented on #386
I would prefer the ambiguity is instead resolved by leaving the "everything is a string" approach and use standard JSON [RFC8259](https://datatracker.ietf.org/doc/html/rfc8259), in other words to encode numbers as numbers, without quotation marks.  I believe that every standard JSON parser will understand the data as it is written when following the specification, and that parsers will most likely

[2021-09-28 19:27] crea7or commented on #386
Although there is not so much performance penalty because it does not matter who will parse the text representation of the number, the JSON library, or server code - just a good JSON library is required. The right use of JSON with its own type system looks more adequate.

[2021-09-28 20:05] peterMelco commented on #386
So this is an example of the south-bound interface towards a vehicle signal broker. It is written in Go, the actual type returned here is checked and then converted to the VISS v2 string, note that the broker in this case does not have values of type string. It is of course practical for the server implementation from here on to treat all values as of type string. But...

[code]

In this case the

[2021-10-19 15:31] aw-muc opened #422 "Multiple scopes within access token"
Currently access tokens issued with JWT pattern mentioned in the core document (see, https://www.w3.org/TR/viss2-core/#access-token), allows only one purpose within the "scp"-field.
If an application needs to grant rights for multiple scopes to access data of different scopes, the application needs to handle multiple tokens based on the different scopes. Even the number of requests would increase,

[2021-10-19 16:07] aw-muc opened #423 "Purpose-/scope-list interface"
Within the current standard the purpose and scope list are a main part of the access control. Is it planned for future implementations to have a standardized interface, where these lists can be queried. This would allow the client to use a standardized interface to react on changes and different versions of the used model or provided scopes?

[2021-10-19 16:27] aw-muc opened #424 "Information about underlying VSS model incl. schema"
At the moment it is not directly possible to request the currently used VSS data model out of the VISS. As far as i understood there are currently two possible solutions to solve this issue:

1. Perform a *-service discovery to get the complete meta-tree information of the data model, which is not really efficient at the VISS-server side, because the complete tree needs to build up during runtime.

[2021-10-19 16:47] aw-muc opened #425 "Access token requires VIN even on onboard only use-case"
A few quotes:

(0)

The VISSv2 access control model is inspired by the concepts of OAuth2.0

(1)

The service may reside in the vehicle for applications needing to analyse a high volume of realtime data or on servers in the internet with information already brought off the vehicle.

(2)

Access control MUST be supported

(3)

The client MAY have to obtain an authorization token before being able t

[2021-10-20 09:15] UlfBj commented on #422
This was discussed in the WG yesterday. The view was that the additional protocol flow under developed on issue 382, where the signal scope in an access token is not limited to the scope sets available in the purpose list policy document, should provide sufficient flexibility.

[2021-10-25 10:16] erikbosch commented on #424
Two aspects that came to my mind, with service discovery (https://www.w3.org/TR/viss2-core/#scope-list) you might not get the whole tree but only items you are "allowed to see", right? I guess this in some situations is an advantage of alternative 1, the application can adapt to what it has access to. (But then maybe you want to consider if you have read/write-access as well)

For alternative 2 I

[2021-10-26 18:55] tguild commented on #422
[Minutes from that call](https://www.w3.org/2021/10/19-auto-minutes.html#t02)

[2021-10-27 09:01] isaacagudo commented on #382
I think we can follow @UlfBj suggestions and include the "sac" claim in the access token. In order to make it as compatible as possible with current specification I would suggest the following flow:

1. The client sent a request to the Access Token server for an explicit access token, in this request the client attaches an Access Grant Token and the desired "sac" claim.
2. The Access Token server

[2021-10-27 13:19] erikbosch opened #429 "Optional VIN for access tokens?"
As of today we require VIN for access grant tokens, but we do not support VIN for access tokens.

https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Core.html#access-token

This implies that the access token must have been signed with a vehicle-specific-key, as otherwise there is no mechanism for the "Gen2 Server" to know which vehicle the token gives access to. I assume that when a "Gen2

[2021-11-01 11:17] UlfBj commented on #429
To align this with issue #425 I suggest that the Access Token Server MUST include the VIN claim in the Access Token if it is present in the Access Grant Token.

[2021-11-01 12:12] UlfBj commented on #425
How is access control handled in this case?

The Abstract protocol flow shown in Fig 2 of the CORE spec should be applicable for all meaningful deployments of the Access Grant Token Server, Access Token Server, and VISSv2 server (Gen2 server).
The proposed change to make the VIN an optional parameter in the call to the AGTS (4), should simplify the scenario with all three servers deployed in the v

[2021-11-01 12:45] UlfBj commented on #424
A solution that mitigates the efficiency problem mentioned in 1. is that the VISSv2 server generates the tree once, and saves it locally. When a client issues a "signal-discovery" request the server responds with the content of the previously generated file. This will however be complicated if the feature [https://www.w3.org/TR/viss2-core/#scope-list](https://www.w3.org/TR/viss2-core/#scope-list)

[2021-11-01 12:56] UlfBj commented on #423
This is not in the plans for VISSv2, but could become part of a later version.

These policy documents are owned and controlled by the Ecosystem Owner, so it could be possible for a client to get access via this actor.
I am not convinced that a client should have direct access to these documents.

[2021-11-08 12:45] UlfBj opened #430 "How to know URLs of the different servers?"
From Issue 425:

This is a relevant question which I think needs to be discussed in the WG before being answered.
I think it has to be analysed separately for the scenarios:

Web application and AGTS deployed off-vehicle, ATS and VISSv2 server deployed on-vehicle.
All four deployed on-vehicle.

[2021-11-09 13:12] UlfBj commented on #382
I think the proposed flow above by @isaacagudo looks fine, but I see an issue with it.

- The main reason for introducing one more flow to the already existing was to make possible an implementation that not only excludes the use of the policy documents, but also the authorization server architecture. This proposal does not do that.

[2021-11-09 14:04] SebastianSchildt commented on #382
If I understand the proposals correctly, I would prefer @UlfBj  proposal. While the one  by @isaacagudo might be more similar to what is already there, it also shares the same challenges: Its very complex, and assumes a certain "system architecture", which probably only applies to a (small?) subset of use cases, so users/implementers will still do "non-standard" workarounds.

By just allowing to u

[2021-11-09 15:11] isaacagudo commented on #382
It is true that the proposed flow requires a companion server for the VISS server, i.e. the Access Token Server, but only to implement the access control logic outside of the VISS server, following the current trend for access control in HTTP APIs.
Access control policies are managed by the ATS, not the VISS server. This way the VISS server implementation is very simple, in the sense that it only

[2021-11-09 19:26] tguild commented on #382
Isaac provided this link in Slack

https://www.pingidentity.com/en/company/blog/posts/2020/everything-need-know-api-security-2020.html

[2021-11-09 19:56] tguild commented on #430
Discussed on call how we covered in VISSv1, a well known URI
https://www.w3.org/2021/11/09-auto-minutes.html
Problem is not unique to Auto, looking for conclusion of cross group discussion found this draft from WoT group
https://www.w3.org/TR/wot-discovery/

[2021-11-09 20:09] peterMelco commented on #430
Ok, this is really important I would think that we need to invoke the VISS server somehow...either by providing a proxy api or by handing back a configuration. Putting on the hat of a client implementor they really only want to worry about this once across OEMS.

[2021-11-10 13:19] UlfBj commented on #430
I think the port numbers used by the different servers should be standardised.
The example below uses the default ports for HTTPS and MQTTS. As the default port for WSS also is 443, 6443 is proposed, for same reason 7443 and 8443 are proposed.
VISSv2 server:
  - HTTPS: 443
  - WSS: 6443
  - MQTTS: 8883
 AGT server:
 - HTTPS: 7443
 AT server:
 - HTTPS: 8443
 How a client obtains the IP address I th

[2021-11-10 17:58] peterMelco commented on #430
So, I don't understand why we open up for fragmentations over retrieving the whereabouts of the AGTS and ATS servers if we don't have to.  Could we simply not add a standard way of asking the server  ?

[2021-11-11 08:50] erikbosch commented on #430
Concering ports - I have no problem in that the specficiation states a recommended/default port, but I assume that stating that port XXXX is mandatory to use could cause problems, that deployments by different reasons may want to select a different port. I.e. implementations are encouraged to use the default path/port, but should preferably have mechanisms to use a different path/port.

In #385 we

[2021-11-12 07:40] aw-muc commented on #422
Okay, after having a look at the [issue](https://github.com/w3c/automotive/issues/382) the alternative with the additional claim "sac" instead of "scp" and "clx" would work for my desired use cases. After reading the [comment](https://github.com/w3c/automotive/issues/382#issuecomment-952696782) from @isaacagudo there is still a question about the access grant token. How can the server analyze if t

[2021-11-12 08:09] aw-muc commented on #423
More or less I thought that the server could be a single point of truth, and could also hold that information or maybe a specific interface of the authorization server. The information about the data model of the VISS implementation of the vehicle, should already be known to the developer/app before requesting access. The additional information of available purpose/scope lists of the VISS implemen

[2021-11-12 08:24] aw-muc commented on #424
Generating the tree on vehicle start up would be a possibility, which I did not thought about. In my current use case, where I have a backend simulating multiple different vehicles with different schema, this is more difficult but resolvable (maybe I build up the schema if i get a token request for a specific vin).

Nethertheless as mentioned above I could use the VersionVSS.[Major|Minor|Patch|Lab

[2021-11-12 08:40] aw-muc commented on #425
Related to the scenario above I have an application running inside my on board browser e.g. a PWA, which is more or less an "off-board application", how could this application determine the VIN? You mentioned above that an off board application should be aware of the VIN it tries to access, but for the customer/developer the app is more or less running onboard and within that use case it is hard t

[2021-11-12 10:57] UlfBj commented on #430
@peterMelco,
To be able to issue a URL-inquiry to the server, the client need to know either its IP address , or its domain name (typically in- resp off-vehicle deployment).
When the client has this information, there is really no reason to go to the VISS server to get any further information. With the client having this information, my proposal defines the further parts of the complete addresses

[2021-11-12 10:59] UlfBj commented on #430
@erikbosch,
Regarding the VISSv2 server port numbers for the supported transport protocols, I guess we need to have at least one mandatory, to enable a client to issue an inquiry to it.
If one needs to be mandatory, I think it should be so for all the supported transport protocols.
That leaves the port numbers for the AGTS/ATS, which could be optional, and possible to obtain as you propose.

[2021-11-12 11:18] erikbosch commented on #430
Well if a client can handle VISS-server address as configuration, I believe they can handle port as configuration as well. And do we want to limit ourselves to that e.g.  AGTS/ATS must be on the same address (e.g. `https://x.y.com`) as the VISS-server. Can it not be totally different, like `https://some.other.company.com:7654/some/other/path`

[2021-11-12 12:51] UlfBj commented on #430
The VISS server is typically  deployed in-vehicle, addressed by an IP address, and the AGTS off-vehicle, addressed by a domain name.

The solution might be to have an optional "recommendation" of ports and IP/domain address patterns, and then say that it can be overridden by "configuration" data, where the provisioning details are out of scope.

[2021-11-19 14:09] UlfBj commented on #369
Fixed in PR427

[2021-11-19 14:09] #369 closed, assigned to nobody

[2021-11-19 14:13] UlfBj commented on #380
An active standardisation project can be found here:
https://at.projects.genivi.org/wiki/pages/viewpage.action?pageId=65896819

[2021-11-19 14:13] #380 closed, assigned to nobody

[2021-11-19 14:19] UlfBj commented on #386
Text format for all data types defined by PR421

[2021-11-19 14:19] #386 closed, assigned to nobody

[2021-11-19 14:24] #391 closed, assigned to nobody

[2021-11-19 14:26] UlfBj commented on #399
Fixed in PR411

[2021-11-19 14:26] #399 closed, assigned to nobody

[2021-11-19 14:32] #403 closed, assigned to nobody

[2021-11-19 14:34] #417 closed, assigned to nobody

[2021-11-19 14:39] UlfBj commented on #422
The access grant token is out of scope for Open flow alternative in the PR432.
The sac claim is validated against the signals in the request.

[2021-11-19 14:46] UlfBj commented on #424
I think that might be a good idea. The Access control selection mechanism described in the spec supports it.

[2021-11-19 14:51] UlfBj commented on #425
@aw-muc   PR431 makes the VIN optional in the AGTS request, and in the AGT/AT.
Does that solve your problem

[2021-11-19 14:52] UlfBj commented on #429
Fixed in PR431

[2021-11-19 14:52] #429 closed, assigned to nobody

[2021-11-22 08:26] aw-muc commented on #422
Just to understand that correctly, to run with the sac-claim, I can should only run with short term access tokens. So based on that the client needs to handle two different auth-flows (long term with grant access token and scp claims, and shot term with only access tokens based on sac claims)?
At the moment the standard within [Access Token Server ](https://www.w3.org/TR/viss2-core/#access-token-s

[2021-11-22 08:45] aw-muc commented on #424
in this case I would add a "validate: write-only" information, within the meta-data of the VersionVSS - Node as described here [Access Control Selection](https://www.w3.org/TR/viss2-core/#access-control-selection); In this case if the meta data is available within the model, the access control server would not block any requests for data without a token against the VersionVSS - Node? correct?

[2021-11-22 15:00] aw-muc commented on #425
Yes, I think that will work, but only if the AGTS is also deployed on localhost, otherwise a local application could requests tokens for other purposes or vehicles; Nevertheless, in future it would be nice if there would be standard for a browser API or anything else that supports the recognition of the VIN inside the vehicle.

is there anything planed outside VISS? Or could this be an update to l

[2021-11-23 08:44] isaacagudo commented on #422
sac claims should work both with short and long term access grant token. The scp claim points to purpose short name, which points to a list of signals. An alternative would be to accept as scp either a short name or a list of signals ...

[2021-11-23 11:34] UlfBj commented on #425
That depends on the AGTS implementation. Just because the VIN is optional in the request, it does not mean that the AGTS must accept all such requests.

What comes in the next version we will see then.
You are very welcome to join and push for this at that time:).

[2021-11-23 11:36] UlfBj commented on #424
Correct

[2021-11-23 11:54] UlfBj commented on #422
The Open flow as described in this version of the spec (the PR pointed to a version not including it, updated now)
https://rawcdn.githack.com/UlfBj/automotive/7065a2f43aca2035e2a9bd763f33d44a7718c4ad/spec/VISSv2_Core.html
does not mandate use of either the Access Grant Token Server, or the Access Token Server, only the format of the Access Token for the Open flow is mandated.
So even if this new A

[2021-11-23 21:27] isaacagudo commented on #422
This is already taken care in two alternative PR: #435 and #432

[2021-11-24 13:27] UlfBj commented on #381
I like the idea proposed by @gunnarx that all is mandatory, as we then do not have to add a solution for how to inform a client what is implemented. However, access control has the same "problem" with optional functionality, which then has to be solved without requiring the same solution as for optional filtering. Moving the responsibility for informing a client to the AGTS could possibly be seen

[2021-11-30 19:48] tguild commented on #382
resolved in https://github.com/w3c/automotive/pull/435

[2021-11-30 19:48] #382 closed, assigned to nobody

[2021-12-01 09:11] UlfBj commented on #430
Fixed in PR433

[2021-12-01 09:11] #430 closed, assigned to nobody

[2021-12-07 17:19] #425 closed, assigned to nobody

[2021-12-07 17:20] #424 closed, assigned to nobody

[2021-12-07 17:20] #423 closed, assigned to nobody

[2021-12-07 17:20] #422 closed, assigned to nobody

[2021-12-07 19:42] #364 closed, assigned to nobody

[2021-12-15 15:59] UlfBj commented on #385
Fixed in PR#437

[2021-12-15 15:59] #385 closed, assigned to nobody

[2021-12-15 15:59] UlfBj commented on #381
Fixed in PR#437

[2021-12-15 15:59] #381 closed, assigned to nobody

[2021-12-16 09:44] UlfBj opened #439 "Spec review"
In order to advance the specs from FPWD status they need to be thoroughly reviewed.
Any minor findings can be fixed by creating a PR on it.
If several disparate things are found, create a commit on each.
If you think it needs to be discussed in the WG first, it could be still be a PR, or a comment on this issue.

[2022-01-12 09:55] UlfBj opened #441 "CORE and TRANSPORT cross reference"
Wonsuk brought this up here
https://github.com/w3c/automotive/pull/440#discussion_r782645960
How is it best solved?

[2022-01-19 15:27] UlfBj commented on #441
Solved by using [[viss2-core]] and [[viss2-transport]] syntax.
Generates entry in References chapter that points to the public FPWD versions.
Pushed to PR #442

[2022-01-20 07:10] wonsuk73 commented on #441
@UlfBj Great job! 👍
I am going to do cross-check two docs for looking for missing pieces on cross reference btw docs :)

[2022-01-20 12:26] UlfBj opened #443 "VSS sensor read-only or read-write?"
The document on the link contains my attempt to answer the question that was discussed on the CVII meeting yesterday.

https://docs.google.com/presentation/d/13VSCF5nuLpUCZZaGJkgBVNAXldgtsA191SbjsfG5FcU/edit?usp=sharing

[2022-01-20 17:09] tguild commented on #443
VISS+VSS is an abstraction layer. The WG has envisioned multiple ways it could be used:

- service and application residing in-vehicle
- service in-vehicle and application in the cloud
- service in the cloud with an already off-boarded data store in the cloud

For the latter there is a pronounced physical disconnect from the underlying data source, whether it was from a sensor, actuator or a stati

[2022-01-21 07:27] erikbosch commented on #443
When discussing this we should also consider actuators, like seat position. We have said in both VSS and VISS meeting that setting an actuator means setting the wanted value, while reading it means reading the actual value. That could possibly work with scenario 1 in the google document (when TCU gets a set request, it just forward it to ECU1), but not with scenario 2, as TCU must separate between

[2022-01-21 17:11] SebastianSchildt commented on #443
We documented our system level view in kuksa.val when using a VSS data model and VISS in vehicle. See it here https://github.com/eclipse/kuksa.val/blob/master/doc/system-architecture.md

The main takeaway is, that in such a scenario you would not want to implement two protocols, one for reading one for writing. That may not need to be VISS, but on the other hand, since VISS aims to supports much m

[2022-01-24 10:36] erikbosch commented on #443
Is it possibly so that we would benefit from having 3 methods like:

- read - to read actual value - relevant for all types (attribute/sensor/actuator)
- request - to set wanted value - relevant only for actuators
- publish - to publish current value - relevant for all types (attribute/sensor/actuator)

... where the later two methods could basically have the same syntax/parameters. That could at

[2022-01-25 10:45] UlfBj commented on #443
@erikbosch I appreciate your creative thinking about adding a publish method. However, I think your very sound reasoning shows that it adds considerably to the protocol. This should be weighed against the added value it brings. And here I want to challenge the scenario 2. In-vehicle inter-ECU communication typically occurs over buses like CAN, and Flexray that are not really suited for the protoco

[2022-02-07 05:59] wonsuk73 commented on #441
Regarding cross-reference issue, when I checked other specs as web payments, I see they also use URL of Latest published version in the specs to solve the link breaking problem on official publication process. So I have made a PR #444 to have a feedback. @UlfBj, Is it okay to you?

If we have a consensus on this way, I am going to make PRs to apply for whole two specs.

[2022-02-08 19:51] #441 closed, assigned to nobody

[2022-02-16 09:34] UlfBj commented on #443
After discussion in the WG, and soliciting of OEM feedback, where only a negative view to the idea of extending the interface with a publish method was received, it was decided not to go along with this extension.
On a related question on whether the current normative language saying that sensor signals MUST be read-only, it was decided that a PR changing this should be created, and including a sh

[2022-02-17 00:46] wonsuk73 opened #447 "Publication cycle of the specs in WD level"
Recently I made three contributions to apply cross references between VISSv2 Core and VISSv2 Transport. It's helpful to readers of the specs when they check the parts of the specs related with contents they see. But to overcome link breaking issue between recent editor's drafts(Core and Transport) URLs of officially published docs are used because it uses a fixed url regardless of published versio

[2022-02-18 09:37] erikbosch opened #448 "VISS and "Vehicle Last Seen"/"Vehicle Present""
One possible deployment of VISS is that an App that wants to communicate with a vehicle but is not allowed to communicate directly with the vehicle. I.e. it rather communicates with a "digital twin" in an OEM data center, which in turn communicates with the vehicle. This could simplify access management but also allows the App to fetch cached vehicle information (e.g. location, fuel/battery status

[2022-02-22 17:39] petervolvowinz commented on #448
I think that it was briefly discussed when applying MQTT as the transport. If I recall correctly MQTT have mechanisms that lets clients now when connectivity is lost, caching... so it was never discussed to actually introduce "virtual" cloud vehicle signals into a specification of vehicle signals. I can see the convenience from the client point of view though.

[2022-03-01 16:27] UlfBj commented on #448
This was discussed in the WG, the view was that the idea of having the cloud server save the timestamp of the latest received message from the vehicle could do it. If this "signal" was to be represented as a VSS signal, it would be unique in that it would be created in the cloud, and not (explicitly) in the vehicle.
A solution to it was not seen as likely to be visible in the VISSv2 spec.

[2022-03-01 19:38] #448 closed, assigned to nobody

[2022-03-01 19:40] UlfBj commented on #447
Carine will set it up so that the published version will be the same as the branch.

[2022-03-02 08:31] wonsuk73 commented on #447
@UlfBj Great! Thanks!  I think there are some more works we need to do after published WD.

[2022-03-08 11:36] UlfBj opened #450 "Inverse range filtering?"
The range filtering currently supports
unbounded range: defined by the "logic-op" and "boundary" parameters
bounded range: two sets of "logic-op" and "boundary" parameters, combined by an AND operator.

The bounded range support can define something like 0 < X < 5, but not the inverse of it, i. e. "all X not inside the bounded range".
To support this, the mentioned AND operator needs to be replace

[2022-03-08 17:13] UlfBj commented on #443
Argument for read-write of sensor added to CORE.

[2022-03-08 17:13] UlfBj commented on #443
Argument for read-write of sensor added to CORE.

[2022-03-08 17:13] #443 closed, assigned to nobody

[2022-03-08 17:14] #447 closed, assigned to nobody

[2022-03-08 17:41] tguild commented on #450
Discussed on today's call
https://www.w3.org/2022/03/08-auto-minutes.html#t02

[2022-03-08 17:50] tguild commented on #321
@wonsuk73 we are going to close this issue since VISS v1 is not going to advance in the Recommendation process as we are more focused on v2.

https://lists.w3.org/Archives/Public/public-automotive/2022Feb/0006.html

Are you interested in starting a test suite for us on v2, perhaps forking Urata-san's as a starting off point?

[2022-03-08 17:50] #321 closed, assigned to nobody

[2022-04-05 16:29] erikbosch commented on #450
An alternative approach could be to have it on type level based on this example from transport:

[code]

And for filter possible allow arbitrary complex statements like:
[code]

[2022-04-07 09:43] UlfBj commented on #450
See PR 452.

[2022-04-07 09:43] #450 closed, assigned to nobody

[2022-08-31 14:01] caribouW3 opened #455 "VISS 2 wide review tracking"
- [x]  [Accessibility review](https://github.com/w3c/a11y-request/issues/38)
- [x] [Internationalization review](https://github.com/w3c/i18n-request/issues/191)
- [ ] [TAG review](https://github.com/w3ctag/design-reviews/issues/768)
- [ ] [security review](https://github.com/w3c/security-request/issues/39)
- [ ] [privacy review](https://github.com/w3cping/privacy-request/issues/102)

[2022-09-27 08:02] xfq opened #457 "Refer to RFC 3987 or URL"
https://www.w3.org/TR/viss2-core/#address

The specification refers to RFC 3986 for addressing of resources. This reference should be changed to [RFC 3987](https://www.rfc-editor.org/rfc/rfc3987) or the WHATWG [URL Standard](https://url.spec.whatwg.org/), to allow for using IDNs and non-ASCII paths.

[2022-09-28 08:46] UlfBj commented on #457
Fixed in [RFC3986 reference changed to RFC3987](https://github.com/w3c/automotive/pull/458#top)
#458

[2022-09-28 08:46] #457 closed, assigned to nobody

[2022-09-28 08:49] UlfBj commented on #439
The WG review does not have a formal end date, but as reviews by other groups are initiated, this issue is closed.

[2022-09-28 08:49] #439 closed, assigned to nobody

[2022-10-03 07:44] UlfBj opened #459 "Candidate Recommendation endorsement"
I support to move the Vehicle Information Service Specification version 2 to Candidate Recommendation.

[2022-10-06 11:16] xfq commented on #457
Thank you. The i18n WG is *satisfied* with the change.

[2022-11-14 14:07] UlfBj opened #460 "Change of key name "value" to "param""
The filter JSON expression has two key names, "type" and "value", as shown in the following example.
 {"type":"timebased", "value":{"period":"500"}}
The key name "value" has two issues,
- it is used as key name also for other key-value pairs,
- it is not particularly descriptive in the filter case.

To improve on these issues it is proposed that it is changed to "param", which would example above

[2022-11-22 16:16] erikbosch opened #461 "Potential support of structs in VSS"
For information, there are discussions in VSS to support structs. It could be an idea to discuss implications/expectations on VISS, so that we agree on how it might affect the standard and reference implementation. Potential topics:

- Is it clear in current VSS spec how a structure will be represented as payload?
- Other implications, willo it e.g. be possible to use filters on struct data?

Refe

[2022-11-25 13:14] UlfBj commented on #461
It is to my knowledge not clear, or discussed, how a struct should be represented in a payload.
I am not in favor of the paradigm to define structs using nodes in the tree. This will e. g. significantly increase the complexity of a tree parser.
Applying the filter model to struct data would add another dimension of complexity, as I see it.
My current view is that if this is to be supported, it wil

[2022-11-30 13:17] aw-muc opened #462 "documentation: subscription timestamp"
Within the https://raw.githack.com/w3c/automotive/gh-pages/spec/VISSv2_Transport.html#subscribe documentation, the subscriptionNotification is described as followed

Object Name | Attribute | Type | Required
-- | -- | -- | --
action | Action | Yes
subscriptionId | string | Yes
data | object/array | Yes

Within the examples, the following is documented:
Notification:

              {

[2022-11-30 13:26] aw-muc opened #463 "Subscription handling on error or JWT auth issues (timed out)"
I did not find any clear instruction about the handling of subscriptions if they run into an error like authentication error.

For example, i have a time based subscription, where the servers sends every 5 seconds notification about the current value I have subscribed with an valid JWT for time X; after time X the internal check runs into an issue, because the JWT is not longer valid; From the doc